<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="https://assets.devscast.tech/files/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">

</head>

<body class="overflow-x-hidden selection:bg-green-300 relative">

    <header class="bg-gray-100 bg-opacity-50 relative lg:h-auto h-14 lg:py-0 transition-all duration-500 z-10 flex items-center">
        <nav role="navigation" id="navbar" class="w-full flex lg:flex-nowrap flex-wrap lg:items-center lg:justify-end justify-between items-start lg:max-w-screen-xl max-w-screen-lg m-auto md:px-16 px-4 lg:py-0 py-3">
            <div class="flex justify-between w-full px-4 lg:px-0 z-10">
                <div class="flex-shrink-0">
                    <a href="index.html" class="flex items-center  mt-0 space-x-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10" viewBox="0 0 1748.626 1032.584">
                            <path id="Path_134" data-name="Path 134" d="M2874.31,2094.42c0-284.95-231.343-516.292-516.292-516.292H1641.976c-284.949,0-516.292,231.342-516.292,516.292s231.343,516.292,516.292,516.292h716.042C2642.967,2610.712,2874.31,2379.369,2874.31,2094.42Zm-272.115,0c0-134.765-109.412-244.177-244.177-244.177H1641.976c-134.765,0-244.177,109.412-244.177,244.177S1507.211,2338.6,1641.976,2338.6h716.042C2492.783,2338.6,2602.2,2229.185,2602.2,2094.42Z" transform="translate(-1125.684 -1578.128)" fill="#05ffbb" fill-rule="evenodd"/>
                        </svg>
                        <span class="text-2xl font-medium text-gray-600 tracking-tight">Devscast</span>
                    </a>
                </div>
                
                <div class="block lg:hidden -mt-1">
                    
                    <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                        
    
                        <div style="width:25px;" class="flex flex-wrap justify-end">
                            <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                            <div class="line-2 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        </div>
    
                    </button>
    
                </div>
            </div>

            <div style="margin-left:-.5px;" class="lg:bg-transparent text-md bg-white w-full lg:ml-auto m-auto hidden lg:flex lg:py-0 py-6 lg:justify-between items-center lg:mt-0 -mt-12 lg:shadow-none shadow-xl group relative lg:-mx-0 -mx-4 transition-all duration-500" id="navlinks">

                <div class="lg:flex">
                    <a href="index.html" class="lg:inline block lg:my-0 md:py-5 py-3 px-4 
                                                text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Portfolio
                    </a>
                
                    <a href="contents.html" class="relative group block lg:my-0 md:py-5 py-3 px-4 
                                                text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Nos contenus
                        <div class="absolute w-min top-8 z-50 opacity-0 group-hover:opacity-100">
                            <div class="rounded-lg shadow-md bg-white flex p-2">
                                <div class="bg-gray-50 bg-opacity-0 hover:bg-opacity-100 transition-all rounded-lg">
                                    <a href="" class="px-6 py-3 block">
                                        <img src="../public/images/icons/check.svg" class="w-12 m-auto" alt="">
                                        <h3 class="text-gray-600 text-xl mt-3">Podcasts</h3>
                                    </a>
                                </div>
                                <div class="bg-gray-50 bg-opacity-0 hover:bg-opacity-100 transition-all rounded-lg">
                                    <a href="" class="px-6 py-3 block">
                                        <img src="../public/images/icons/play.svg" class="w-12 m-auto" alt="">
                                        <h3 class="text-gray-600 text-xl mt-3">Tutoriels</h3>
                                    </a>
                                </div>
                    
                            </div>
                        </div>
                    </a>
                    
                    <a href="us.html" class="lg:inline block lg:my-0 md:py-5 py-3 px-4 
                                            text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Nous
                    </a>

                    <a href="blog.html" class="lg:inline block lg:my-0   px-4
                                                    text-gray-600 hover:text-gray-900 lg:mr-4
                                                    group-hover:opacity-75 hover:opacity-100">
                        <div class="relative md:py-5 py-3 h-full active">
                            Blog
                        </div>
                        
                    </a>
                </div>

                <div class="w-max lg:ml-auto lg:px-0 px-4">
                    <a href="contact.html" class="md:w-max w-full bg-green-500 text-sm text-gray-800 font-semibold px-4 
                                                  hover:bg-green-600 focus:bg-green-700 transition-all duration-100 lg:shadow-xl
                                                    lg:inline block lg:my-0 md:mt-8 mt-6 
                                                    py-4 px-6 rounded">
    
                        Prendre contact
                    </a>
                </div>
            </div> 
        </nav>
    </header>

    <section class="bg-gray-100 bg-opacity-50 md:pb-40 pb-24">
        <div class="lg:max-w-screen-xl max-w-screen-lg m-auto md:px-16 px-4 md:pt-20 pt-10">
            
            <div class="lg:w-6/12 lg:pl-0 pl-4">

                <span class="text-green-500 font-thin tracking-wider text-sm indicate">BLOG</span>
                <h1 class="md:text-5xl text-4xl font-semibold text-gray-800 mt-8">Les dernières nouvelles</h1>
                <p class="text-gray-600 mt-5">Les dernières nouvelles sur le Web, l'UI / UX Design et plus encore.</p>
            
            </div>

            <div class="md:mt-8 w-full mt-4 py-6 lg:px-0 px-4 lg:overflow-x-hidden overflow-x-auto">

                <div class="scroll lg:grid grid-cols-4 flex grid-cols-2 lg:gap-8 gap-4">
                    <div class="rounded-lg md:p-6 p-4 px-6 shadow-md transform hover:-translate-y-2 md:h-32 lg:w-auto w-max h-20 
                            bg-white transition-all duration-300 hover:shadow-lg cursor-pointer
                            flex justify-center items-center gap-3">

                        <img src="../public/images/icons/creativity.svg" class="md:w-16 w-10" alt="icône créativité">
                        <h2 class="md:text-2xl text-lg text-gray-600">Tout</h2>
                    </div>

                    <div class="rounded-lg md:p-6 p-4 px-6 shadow-md transform hover:-translate-y-2 md:h-32 lg:w-auto w-max h-20 
                                bg-white transition-all duration-300 hover:shadow-lg cursor-pointer
                                flex justify-center items-center md:gap-3 gap-2">

                        <img src="../public/images/icons/ux.svg" class="md:w-16 w-10" alt="icône interface utilisateur">
                        <h2 class="md:text-2xl text-lg text-gray-600">UX Design</h2>
                    </div>

                    <div class="rounded-lg md:p-6 p-4 px-6 shadow-md transform hover:-translate-y-2 md:h-32 lg:w-auto w-max h-20 
                                bg-white transition-all duration-300 hover:shadow-lg cursor-pointer
                                flex justify-center items-center md:gap-3 gap-2">

                        <img src="../public/images/icons/frontend.svg" class="md:w-16 w-10" alt="icône frontend">
                        <h2 class="md:text-2xl text-lg text-gray-600">Frontend</h2>
                    </div>

                    <div class="rounded-lg md:p-6 p-4 px-6 shadow-md transform hover:-translate-y-2 md:h-32 lg:w-auto w-max h-20 
                                bg-white transition-all duration-300 hover:shadow-lg cursor-pointer
                                flex justify-center items-center md:gap-3 gap-2">

                        <img src="../public/images/icons/web-backend.svg" class="md:w-16 w-10" alt="icône développement backend">
                        <h2 class="md:text-2xl text-lg text-gray-600">Backend</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="md:-mb-56 -mb-32">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-full" height="183.81" viewBox="0 0 1892.281 183.81">
                <path id="Tracé_1" data-name="Tracé 1" d="M0,0S129.394,127.751,595.143,127.751c211.916,0,505.95-141.947,750.5-170.846,291.591-34.458,434.623,17.231,434.623,17.231" transform="translate(0.351 55.56)" fill="none" stroke="#abff88" stroke-width="1"/>
                <path id="Tracé_2" data-name="Tracé 2" d="M0,0S129.394,127.751,595.143,127.751c211.916,0,521.633-70.879,766.187-99.779,291.591-34.458,530.458,36.1,530.458,36.1" transform="translate(0.351 55.56)" fill="none" stroke="#7df2ff" stroke-width="1"/>
            </svg>
              
        </div>
          
          
    </section>

    <section class="z-10 relative">
        <div class="lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-11 md:px-16 px-4 lg:mt-8">

            <div class="shadow-xl bg-white md:p-8 p-4 rounded-lg md:-mt-24 -mt-28">
                <div class="w-max mb-4">
                    <span class="text-gray-400">Janvier 24, 2021</span>
                    <div class="flex gap-4 items-center mt-4">
                        <img src="../public/images/user 2.jpg" class="w-16 h-16 object-cover rounded-full" alt="author avatar">
                        <div>
                            <h4 class="text-gray-700 text-lg">Scott Trésor</h4>
                            <span class="text-gray-400 font-light text-sm">Développeur Backend</span>
                        </div>
                    </div>
                </div>
                <div class="md:flex justify-center items-start lg:gap-16 md:gap-8">
                    <div class="md:w-6/12 order-last group lg:p-6">
                        <h1 class="lg:text-4xl text-3xl leading-normal text-gray-700 group-hover:text-gray-800">Les tendances frameworks JS de 2021</h1>
                        <p class="my-6 text-gray-500">Adipisicing audantium laborum vel tempora atque fugiat exercitationem nisi et blanditiis adipisci culpa accusamus, inventore expedita. Ex sunt amet fuga dolorem quod at?</p>
                        
                        <div class="flex flex-grow items-center gap-4">
                            <a href="" class="text-blue-500 hover:text-underline">Lire plus</a> 

                        </div>
                    </div>
    
                    <div class="md:w-6/12 mt-4">
                        <img src="../public/images/blog/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png" 
                            class="mt-4 rounded-xl group-hover:rounded-3xl" 
                            alt="image de l'article">
                    </div>
                </div>
            </div> 

        </div>
    </section>

    <section>
        <div class="lg:max-w-screen-xl max-w-screen-lg lg:m-auto md:px-16 px-4 pb-24">

            <div class="lg:grid grid-cols-2 gap-8 mt-16 mb-16">

                <div class="text-gray-700 hover:text-gray-800 mt-8 group">
                    <div class="lg:px-0 px-4">
                        <span class="text-gray-400 lg:pl-20 font-thin tracking-wider text-sm indicate">28.06.2021</span>
                    </div>
                    
                    <div class="group-hover:bg-white lg:p-16 md:p-8 py-4 group-hover:shadow-xl rounded-xl transition-all duration-500 transform lg:hover:scale-105">
                        <div class="mb-6 lg:px-0 px-4">
                            <h1 class="md:text-4xl text-3xl md:leading-snug">L'atomic css avec le framework tailwindcss</h1>
                            <div class="flex gap-4 items-center my-6">
                                <img src="../public/images/user 2.jpg" class="w-14 h-14 object-cover rounded-full" alt="author avatar">
                                <div>
                                    <h4 class="text-gray-700 text-lg">Scott Trésor</h4>
                                    <span class="text-gray-400 font-light text-sm">Développeur Backend</span>
                                </div>
                            </div>
                            <p class="text-gray-500">Mollitia nostrum, explicabo totam beatae quibusdam ipsum odio nemo accusantium ea magni magnam vero enim pariatur rerum. Expedita, incidunt deleniti.</p>
                            
                        </div>
    
                        <img src="../public/images/blog/landing-page-examples.png" 
                                class="h-48 w-full object-cover rounded-xl" 
                                alt="image de l'article">   
                    </div>
                    
                </div>

                <div class="text-gray-700 hover:text-gray-800 mt-8 group">
                    
                    <div class="lg:px-0 px-4">
                        <span class="block text-right text-gray-400 lg:pr-20 font-thin tracking-wider text-sm indicate-r">28.06.2021</span>
                    </div>
                    
                    <div class="group-hover:bg-white lg:p-16 md:p-8 py-4 group-hover:shadow-xl rounded-xl transition-all duration-500 transform lg:hover:scale-105">
                        <div class="mb-6 lg:px-0 px-4">
                            <h1 class="md:text-4xl text-3xl md:leading-snug">L'atomic css avec le framework tailwindcss</h1>
                            <div class="flex gap-4 items-center my-6">
                                <img src="../public/images/user 2.jpg" class="w-14 h-14 object-cover rounded-full" alt="author avatar">
                                <div>
                                    <h4 class="text-gray-700 text-lg">Scott Trésor</h4>
                                    <span class="text-gray-400 font-light text-sm">Développeur Backend</span>
                                </div>
                            </div>
                            <p class="text-gray-500">Mollitia nostrum, explicabo totam beatae quibusdam ipsum odio nemo accusantium ea magni magnam vero enim pariatur rerum. Expedita, incidunt deleniti.</p>
                            
                        </div>
    
                        <img src="../public/images/blog/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png" 
                                class="h-48 w-full object-cover rounded-xl" 
                                alt="image de l'article">   
                    </div>
                    
                </div>
                
            </div>

            <div class="w-max m-auto">
                
                <div class="m-auto w-2 mb-8 h-8 border-l-2 border-dashed">

                </div>
                
                <nav class="py-2 px-6 rounded-full shadow-md">
                    <ul class="flex gap-4 items-center">

                        <li>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3" height="19.243" viewBox="0 0 21.621 19.243">
                                    <g id="Icon_feather-chevrons-left" data-name="Icon feather-chevrons-left" transform="translate(-7.1 -8.379)">
                                      <path id="Tracé_3" data-name="Tracé 3" d="M16.5,25.5,9,18l7.5-7.5" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                      <path id="Tracé_4" data-name="Tracé 4" d="M27,25.5,19.5,18,27,10.5" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    </g>
                                </svg>
                                  
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-2" height="22.243" viewBox="0 0 12.621 22.243">
                                    <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left" d="M22.5,27l-9-9,9-9" transform="translate(-12 -6.879)" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                </svg>
                            </a>
                        </li>

                        <li class="bg-green-500 h-8 w-8 rounded-full
                                    flex justify-center items-center text-white">
                            <a href="">1</a>
                        </li>

                        <li class="hover:bg-green-50 h-8 w-8 rounded-full
                                    flex justify-center items-center text-gray-400 hover:text-green-500">
                            <a href="">2</a>
                        </li>

                        <li>
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-2" height="22.243" viewBox="0 0 12.621 22.243">
                                    <path id="Icon_feather-chevron-left" data-name="Icon feather-chevron-left" d="M22.5,27l-9-9,9-9" transform="translate(24.621 29.121) rotate(180)" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                </svg>
                                  
                            </a>
                        </li>

                        <li>
                            <a href="">

                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3" height="19.243" viewBox="0 0 21.621 19.243">
                                    <g id="Icon_feather-chevrons-left" data-name="Icon feather-chevrons-left" transform="translate(29.121 27.621) rotate(180)">
                                      <path id="Tracé_3" data-name="Tracé 3" d="M16.5,25.5,9,18l7.5-7.5" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                      <path id="Tracé_4" data-name="Tracé 4" d="M27,25.5,19.5,18,27,10.5" fill="none" stroke="#81929f" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                    </g>
                                </svg>
                                  
                            </a>
                        </li>
                        
                       
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <footer>
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>