<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="https://assets.devscast.tech/files/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
    
</head>

<body class="overflow-x-hidden selection:bg-green-300 relative">

    <header class="relative lg:h-auto h-14 lg:py-0 transition-all duration-500 z-10 flex items-center">
        <nav role="navigation" id="navbar" class="w-full flex lg:flex-nowrap flex-wrap lg:items-center lg:justify-end justify-between items-start lg:max-w-screen-xl max-w-screen-lg m-auto md:px-16 px-4 lg:py-0 py-3">
            <div class="flex justify-between w-full px-4 lg:px-0 z-10">
                <div class="flex-shrink-0">
                    <a href="index.html" class="flex items-center  mt-0 space-x-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-10" viewBox="0 0 1748.626 1032.584">
                            <path id="Path_134" data-name="Path 134" d="M2874.31,2094.42c0-284.95-231.343-516.292-516.292-516.292H1641.976c-284.949,0-516.292,231.342-516.292,516.292s231.343,516.292,516.292,516.292h716.042C2642.967,2610.712,2874.31,2379.369,2874.31,2094.42Zm-272.115,0c0-134.765-109.412-244.177-244.177-244.177H1641.976c-134.765,0-244.177,109.412-244.177,244.177S1507.211,2338.6,1641.976,2338.6h716.042C2492.783,2338.6,2602.2,2229.185,2602.2,2094.42Z" transform="translate(-1125.684 -1578.128)" fill="#05ffbb" fill-rule="evenodd"/>
                        </svg>
                        <span class="text-2xl font-medium text-gray-600 tracking-tight">Devscast</span>
                    </a>
                </div>
                
                <div class="block lg:hidden -mt-1">
                    
                    <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                        
    
                        <div style="width:25px;" class="flex flex-wrap justify-end">
                            <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                            <div class="line-2 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        </div>
    
                    </button>
    
                </div>
            </div>

            <div style="margin-left:-.5px;" class="lg:bg-transparent text-md bg-white w-full lg:ml-auto m-auto hidden lg:flex lg:py-0 py-6 lg:justify-between items-center lg:mt-0 -mt-12 lg:shadow-none shadow-xl group relative lg:-mx-0 -mx-4 transition-all duration-500" id="navlinks">

                <div class="lg:flex">
                    <a href="index.html" class="lg:inline block lg:my-0 md:py-5 py-3 px-4 
                                                text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Portfolio
                    </a>
                
                    <a href="contents.html" class="relative group block lg:my-0 md:py-5 py-3 px-4 
                                                text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Nos contenus
                        <div class="absolute w-min top-8 z-50 opacity-0 group-hover:opacity-100">
                            <div class="rounded-lg shadow-md bg-white flex p-2">
                                <div class="bg-gray-50 bg-opacity-0 hover:bg-opacity-100 transition-all rounded-lg">
                                    <a href="" class="px-6 py-3 block">
                                        <img src="../public/images/icons/check.svg" class="w-12 m-auto" alt="">
                                        <h3 class="text-gray-600 text-xl mt-3">Podcasts</h3>
                                    </a>
                                </div>
                                <div class="bg-gray-50 bg-opacity-0 hover:bg-opacity-100 transition-all rounded-lg">
                                    <a href="" class="px-6 py-3 block">
                                        <img src="../public/images/icons/play.svg" class="w-12 m-auto" alt="">
                                        <h3 class="text-gray-600 text-xl mt-3">Tutoriels</h3>
                                    </a>
                                </div>
                    
                            </div>
                        </div>
                    </a>
                    
                    <a href="us.html" class="lg:inline block lg:my-0 md:py-5 py-3 px-4 
                                            text-gray-600 hover:text-gray-900 group-hover:opacity-75 hover:opacity-100">
                        Nous
                    </a>

                    <a href="blog.html" class="lg:inline block lg:my-0   px-4
                                                    text-gray-600 hover:text-gray-900 lg:mr-4
                                                    group-hover:opacity-75 hover:opacity-100">
                        <div class="relative md:py-5 py-3 h-full active">
                            Blog
                        </div>
                        
                    </a>
                </div>

                <div class="w-max lg:ml-auto lg:px-0 px-4">
                    <a href="contact.html" class="md:w-max w-full bg-green-500 text-sm text-gray-800 font-semibold px-4 
                                                  hover:bg-green-600 focus:bg-green-700 transition-all duration-100 lg:shadow-xl
                                                    lg:inline block lg:my-0 md:mt-8 mt-6 
                                                    py-4 px-6 rounded">
    
                        Prendre contact
                    </a>
                </div>
            </div> 
        </nav>
    </header>

    
    <section>
        <div class="lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-11 md:px-16 px-4">
            <!---  Article head -->
            <div class="lg:flex items-end lg:-mx-0 -mx-4">
                <div class="lg:w-2/12 lg:block hidden">
                    <div class="p-4 flex flex-wrap justify-center gap-4 items-center">
                        <img src="../public/images/user 2.jpg" class="w-12 h-12 object-cover rounded-full" alt="author avatar">
                        <div>
                            <h4 class="text-gray-700 text-lg -mb-1">Scott Trésor</h4>
                            <span class="text-gray-400 font-light text-sm">Dév Backend</span>
                        </div>
                    </div>
                </div>

                <div class="lg:w-8/12 lg:border-l lg:border-r border-dashed lg:pt-28 md:pt-48 pt-32 -mt-14">
                    <div class="px-8">
                        
                        <div class="lg:px-0 px-4 mb-4 -ml-4">
                            <div class="lg:pl-8  indicate">
                                <span class="font-thin tracking-wider bg-pink-50 py-2 px-4 rounded text-pink-500 text-sm">
                                    Frontend
                                </span>
                                
                            </div>
                        </div>
                        
                        <h1 class="lg:text-5xl text-4xl text-gray-800 mt-8">L'atomic css avec le framework tailwindcss</h1>
                        <p class="mt-8 text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ratione similique fuga voluptatum alias aperiam quaerat at, neque consequatur. Beatae laudantium unde porro, enim assumenda minus quos asperiores itaque nobis.</p>
                        <div class="lg:px-0 px-4 mb-4 -ml-4 mt-8">
                            <span class="text-gray-400 lg:pl-8 font-thin tracking-wider text-sm indicate">28.06.2021</span>
                        </div>
                    </div>
                    <img class="mt-12 px-4" src="../public/images/blog/landing-page-examples.png" alt="">
                </div>
            </div>
            <!--/ Article head -->

            <!---  Article body -->
            <div class="lg:flex">
                <div class="lg:w-2/12">
                    
                </div>

                <div class="lg:w-8/12 lg:border-l lg:border-r border-dashed md:pt-16 pt-8">
                    <div class="lg:px-8 px-4">                        
                        <h2 class="md:text-4xl text-3xl text-gray-800 mt-8 mb-4">Comprendre <a href="" class="text-blue-500 hover:text-blue-600">l'atomic Design</a>  avant l'atomic css</h2>
                        <p class="my-4 text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ratione similique fuga voluptatum alias aperiam quaerat at, neque consequatur. Beatae laudantium unde porro, enim assumenda minus quos asperiores itaque nobis.</p>
                        <p class="my-4 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsa nemo amet quidem, voluptatum soluta cupiditate dicta facilis, totam minima tempore aperiam esse ipsam iste labore voluptate, delectus excepturi? Fugit?</p>
                        <ul class="list-disc my-4 space-y-4 list-outside text-gray-500 pl-4">
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eaque, corrupti facilis tempora recusandae quisquam blanditiis impedit aperiam, dolorum iusto aliquam illum laboriosam assumenda unde ab ratione possimus temporibus ducimus?</li>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis consectetur deserunt minus numquam architecto aliquid placeat unde voluptatem assumenda neque, inventore deleniti aspernatur iure</li>
                        </ul>
                        
                    </div>

                    <img class="mt-8" src="../public/images/blog/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png" alt="">
                    <div class="lg:px-8 px-4 mb-16">                        
                        <p class="my-4 text-gray-500">Let’s say you’ve just started your design system. You’ve already set the list of the main components of your system and probably already put them into a sketch library. But now, you need to start building your system in code and you don’t really know which component you should develop first…</p>
                    </div>
                </div>
            </div>
            <!--/ Article body -->

            <div class="md:flex grid gap-8 items-start">
     

                <div class="fixed md:bottom-10 md:right-10 bottom-5 right-5">
                    <div class="h-16 w-16 rounded-full shadow-xl bg-white">

                        <div class="flex justify-center h-full items-center
                                    hover:text-indigo-500 text-gray-400">

                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 fill-current" height="36.002" viewBox="0 0 36 36.002">
                                <path id="Icon_awesome-comment-alt" data-name="Icon awesome-comment-alt" d="M31.5,0H4.5A4.5,4.5,0,0,0,0,4.5V24.75a4.5,4.5,0,0,0,4.5,4.5h6.75v5.906a.846.846,0,0,0,1.343.682l8.782-6.588H31.5a4.5,4.5,0,0,0,4.5-4.5V4.5A4.5,4.5,0,0,0,31.5,0Z"/>
                            </svg>
                              
                        </div>

                    </div>
                </div>
                
            </div>
            
        </div>

          
    </section>

    <footer>
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>