<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white bg-opacity-75
                    w-full lg:h-auto h-16 lg:px-24 md:px-16 px-6 lg:py-0 py-3 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-500" id="navbar" 

             style="z-index:1000; -webkit-backdrop-filter:blur(12px); 
                    backdrop-filter: blur(12px);">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden -mt-1">
                
                <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                    

                    <div style="width:25px;" class="flex flex-wrap justify-end">

                        <style>
                            .rotate-1{

                                transform: rotate(134deg);
                                margin-top:24px !important;

                            }

                            .rotate-2{

                                transform: rotate(-134deg);
                                margin-top:-1px !important;

                            }
                        </style>

                        <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                        <div class="line-2 transition-all duration-500" style="height:2px; width:20px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        <div class="line-3 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                    </div>

                </button>

            </div>

            <div class="w-full lg:hidden hidden justify-center z-50" id="navuser">
                
                <div class="flex gap-6">

                    <a href="login.html" class="bg-white border border-indigo-400 py-3 px-6 
                                                rounded-md text-indigo-500 font-semibold">
                        Se connecter
                    </a>
                    
                    <a href="register.html" class="bg-indigo-500 py-3 px-6 rounded-md text-white 
                                                    hover:bg-indigo-600  font-semibold">
                        S'inscrire
                    </a>
                
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-8 
                        gap-24 lg:bg-transparent bg-white lg:shadow-none 
                        shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden 
                        z-50 transition-all duration-900" id="navlinks">

                <a href="work.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Portfolio
                </a>

                <a href="contents.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nos contenus
                </a>
                
                <a href="us.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nous
                </a>

                <a href="blog.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Blog
                </a>
                
                <a href="contact.html" class="w-max bg-green-500 text-sm text-white 
                                              hover:bg-green-600
                                                lg:inline block lg:my-0 md:mt-8 mt-6 
                                                lg:py-3 py-3 px-6 rounded-md">

                    Prendre contact
                </a>
                
                <div class="w-8 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden transition-all duration-700" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>


    <section>
        <div class="lg:flex">

            <div class="lg:w-6/12 lg:px-24 md:px-16 px-6 py-24 lg:bg-gray-50">

                <div class="sticky top-20">

                    <div class="bg-white lg:p-8 rounded-2xl lg:shadow-md">
                        <h1 class="text-gray-700 text-3xl font-semibold">Nos coordonnées</h1>
                        
                        <div class="lg:block md:flex items-end block">
                            <div class="mt-8">

                                <div class="flex items-center gap-4">
    
                                    <div class="h-14 w-14 border border-gay-50 rounded-full
                                                flex justify-center items-center">
    
                                        <svg height="2em" viewBox="0 0 16 16" class="w-5 fill-current text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
    
                                    </div>
    
                                    <div>
                                        <p class="text-indigo-500">Adresse</p>
                                        <h5 class="text-xl text-gray-600 font-thin">Lubumbashi, RDC</h5>
    
                                    </div>
                                </div>
    
                                <div class="flex items-center gap-4 mt-8">
    
                                    <div class="h-14 w-14 border border-gay-50 rounded-full
                                                flex justify-center items-center">
    
                                        <svg height="2em" viewBox="0 0 16 16" class="w-5 fill-current text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3.925 1.745a.636.636 0 0 0-.951-.059l-.97.97c-.453.453-.62 1.095-.421 1.658A16.47 16.47 0 0 0 5.49 10.51a16.471 16.471 0 0 0 6.196 3.907c.563.198 1.205.032 1.658-.421l.97-.97a.636.636 0 0 0-.06-.951l-2.162-1.682a.636.636 0 0 0-.544-.115l-2.052.513a1.636 1.636 0 0 1-1.554-.43L5.64 8.058a1.636 1.636 0 0 1-.43-1.554l.513-2.052a.636.636 0 0 0-.115-.544L3.925 1.745zM2.267.98a1.636 1.636 0 0 1 2.448.153l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                                        </svg>
    
                                    </div>
    
                                    <div>
                                        <p class="text-indigo-500">Téléphone</p>
                                        <h5 class="text-xl text-gray-600 font-thin"><a href="tel:+243996660436">+243 996 660 436</a></h5>
    
                                    </div>
                                </div>
    
                                <div class="flex items-center gap-4 mt-8">
    
                                    <div class="h-14 w-14 border border-gay-50 rounded-full
                                                flex justify-center items-center">
    
                                        <svg height="2em" viewBox="0 0 16 16" class="w-5 fill-current text-gray-400" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                        </svg>
    
                                    </div>
    
                                    <div>
                                        <p class="text-indigo-500">Email</p>
                                        <h5 class="text-xl text-gray-600 font-thin"><a href="mailto:contact@devcast.tech">contact@devcast.tech</a></h5>
    
                                    </div>
                                </div>
                            </div>
    
                            <div class="mt-4 lg:w-full md:w-5/12 w-full ml-auto">
                                <img src="../public/images/undraw_contact_us_15o2.svg" alt="">
                            </div>
                        </div>      
                    
                    </div>

                </div>

            </div>

            <div class="lg:w-6/12 lg:px-24 md:px-16 px-6 lg:py-24 md:py-16 py-6">

                <div class="relative">

                    <div>
                        <h1 class="text-gray-700 text-3xl font-semibold">Laissez-nous un message</h1>
                        <p class="mt-4 text-gray-600">Que vous ayez des questions ou que vous souhaitiez simplement nous dire bonjour, nous nous ferions un plaisir de discuter avec vous.</p>
                    </div>
                    
                    <form action="" method="POST" class="mt-8" >

                        <div class="md:flex justify-between items-center gap-4">

                            <label class="text-gray-500" for="">Nom complet <span class="text-yellow-500">*</span> </label>
                            
                            <div class="md:w-8/12 md:mt-0 mt-3">
                                <input class="px-4 py-2 bg-gray-100 rounded-md w-full border-2 
                                              border-transparent focus:outline-none 
                                              focus:border-indigo-400 focus:bg-white 
                                              " type="text" placeholder="Votre nom complet" required>
                            </div>
                            
                        </div>

                        <div class="md:flex justify-between items-center gap-4 mt-6">

                            <label class="text-gray-500 md:mb-0 mb-2" for="">Adresse email <span class="text-yellow-500">*</span> </label>
                            
                            <div class="md:w-8/12 md:mt-0 mt-3">
                                <input class="px-4 py-2 bg-gray-100 rounded-md w-full border-2 
                                              border-transparent focus:outline-none 
                                              focus:border-indigo-400 focus:bg-white 
                                              " type="email" placeholder="Email" required>
                            </div>
                            
                        </div>

                        <div class="md:flex justify-between items-center gap-4 mt-6">

                            <label class="text-gray-500 md:mb-0 mb-2" for="">Sujet </label>
                            
                            <div class="md:w-8/12 md:mt-0 mt-3">

                                <select class="px-4 py-2 bg-gray-100 rounded-md w-full border-2 
                                                border-transparent focus:outline-none 
                                                focus:border-indigo-400 focus:bg-white 
                                                " name="" id="">

                                    <option value="">Backend</option>
                                    <option value="">Mentoring</option>
                                    <option value="">Backend</option>
                                    <option value="">Mentoring</option>
                                    
                                </select>

                                
                            </div>
                            
                        </div>

                        <div class="md:flex justify-between gap-4 mt-6">

                            <label class="text-gray-500 md:mb-0 mb-2" for="">Votre message <span class="text-yellow-500">*</span></label>
                            
                            <div class="md:w-8/12 md:mt-0 mt-3">
                                
                                <textarea name="" id="" rows="5" class="px-4 py-2 bg-gray-100 rounded-md w-full border-2 
                                                                        border-transparent focus:outline-none text-gray-500
                                                                        focus:border-indigo-400 focus:bg-white 
                                                                        " required placeholder="Ecrivez quelque chose :)">
                                </textarea>

                                
                            </div>
                            
                        </div>

                        <p class="text-gray-500 text-sm mt-8">Ce formulaire utilise  <a href="" class="text-blue-400">reCAPTCHA</a>  afin de lutter contre le SPAM. L'utilisation de cette fonctionnalité est soumise aux Règles de confidentialité et aux Conditions d'utilisation de Google.</p>


                        <button class="mt-8 w-full py-3 bg-green-500 rounded-md
                                        text-white hover:bg-green-600 shadow-md
                                        focus:outline-none"
                                type="submit">
                            Envoyer le message
                        </button>
                    </form>

                </div>

            </div>


        </div>
    </section>

    <script src="../public/js/script.js"></script>

</body>
</html>