<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white z-50
                    w-full lg:h-auto h-auto lg:px-24 md:px-16 px-6 py-4 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-700 ease-in-out" id="navbar">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-700">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden mt-2">
                <button type="button" id="navbar-open" class="hamburger-open flex lg:hidden transition-all">
                    <svg class="fill-current text-gray-600 w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
                <button type="button" id="navbar-close" class="hidden hamburger-close flex hidden">
                    <svg class="fill-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                </button>
            </div>

            <div class="w-full lg:hidden hidden justify-center z-50 -mt-10 transition-all duration-700" id="navuser">
                <div class="flex gap-6">
                    <a href="" class="bg-indigo-50 py-3 px-6 rounded-md text-indigo-500 font-semibold">Se connecter</a>
                    <a href="" class="bg-indigo-500 py-3 px-6 rounded-md text-white font-semibold">S'inscrire</a>
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-7 gap-24 lg:shadow-none shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden -mt-40 z-50 transition-all duration-700" id="navlinks">
                <a href="work.html" class="lg:inline block lg:my-0 md:mb-8 mb-6 text-gray-700  hover:text-green-500">Portfolio</a>
                <a href="contents.html" class="lg:inline block lg:my-0 md:my-8 text-green-500 my-6 text-gray-700 hover:text-green-500">Nos contenus</a>
                <a href="us.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Nous</a>
                <a href="blog.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Blog</a>
                <a href="contact.html" class="text-md w-max lg:inline block lg:my-0 md:mt-8 mt-6 lg:py-2 py-3 px-6 rounded-md border-gray-500 border-2 text-gray-800">Prendre contact</a>
                
                <div class="w-10 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden -mt-72 transition-all duration-700 ease-in-out" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section id="hero" class="bg-gray-50 mb-40">
        
        <div class="lg:px-24 md:px-16 px-6 flex lg:gap-20 gap-16 items-center py-24">
            
            <div class="lg:w-6/12 md:w-7/12 pt-20">
                
                <h1 class="lg:text-5xl text-3xl font-bold  text-gray-800 
                            lg:leading-snug leading-snug">

                            Tous vos contenus créatifs à un seul endroit.
                </h1>
            
                <p class="text-gray-600 mt-8">Dribbble is the leading destination to find & showcase creative work and home to the world's best design professionals.</p>
            </div>
            
            <div class="lg:w-6/12 md:w-5/12 md:block hidden">
                <img src="../public/images/romainbriaux-284c5096f64764a70b44faa03268b263c4b37365e988446318005ff367ced170.webp" class="" alt="">
            </div>
    
        </div>

        <div class="lg:px-24 md:px-16 px-6 m-auto absolute left-0 right-0 -mt-9" style="z-index:20;">
            
            <form action="" class="flex items-center">

                <div class="absolute md:ml-8 ml-4">
                    <svg class="fill-current text-gray-500 pointer-events-none  md:w-6 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                    </svg>
                </div>
                
                <div class="absolute right-0 lg:mr-28 md:mr-20 mr-8 flex items-center">

                    <div>

                        <button class="md:hidden block bg-gray-800 p-3 
                                        rounded-lg text-white hover:bg-gray-900 shadow-lg">

                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5" viewBox="0 0 31.5 31.5">
                                <g id="Icon_ionic-md-options" data-name="Icon ionic-md-options" transform="translate(-2.25 -2.25)">
                                    <g id="Groupe_1" data-name="Groupe 1">
                                    <path id="Tracé_1" data-name="Tracé 1" d="M2.25,27H21.375v2.25H2.25Z" fill="#fff"/>
                                    <path id="Tracé_2" data-name="Tracé 2" d="M28.125,27H33.75v2.25H28.125Z" fill="#fff"/>
                                    <path id="Tracé_3" data-name="Tracé 3" d="M27,31.465a2.268,2.268,0,0,1-2.25,2.285h0a2.268,2.268,0,0,1-2.25-2.285v-6.68A2.268,2.268,0,0,1,24.75,22.5h0A2.268,2.268,0,0,1,27,24.785Z" fill="#fff"/>
                                    </g>
                                    <g id="Groupe_2" data-name="Groupe 2">
                                    <path id="Tracé_4" data-name="Tracé 4" d="M2.25,16.875H7.875v2.25H2.25Z" fill="#fff"/>
                                    <path id="Tracé_5" data-name="Tracé 5" d="M14.625,16.875H33.75v2.25H14.625Z" fill="#fff"/>
                                    <path id="Tracé_6" data-name="Tracé 6" d="M13.5,21.34a2.268,2.268,0,0,1-2.25,2.285h0A2.268,2.268,0,0,1,9,21.34V14.66a2.268,2.268,0,0,1,2.25-2.285h0A2.268,2.268,0,0,1,13.5,14.66Z" fill="#fff"/>
                                    </g>
                                    <g id="Groupe_3" data-name="Groupe 3">
                                    <path id="Tracé_7" data-name="Tracé 7" d="M2.25,6.75H21.375V9H2.25Z" fill="#fff"/>
                                    <path id="Tracé_8" data-name="Tracé 8" d="M28.125,6.75H33.75V9H28.125Z" fill="#fff"/>
                                    <path id="Tracé_9" data-name="Tracé 9" d="M27,11.215A2.268,2.268,0,0,1,24.75,13.5h0a2.268,2.268,0,0,1-2.25-2.285V4.535A2.268,2.268,0,0,1,24.75,2.25h0A2.268,2.268,0,0,1,27,4.535Z" fill="#fff"/>
                                    </g>
                                </g>
                            </svg>                 

                        </button>

                        <select name="" id="" class="outline-none md:block hidden border-l-2 p-2 pl-6">
                            <option value="">Formations</option>
                            <option value="">Code</option>
                            <option value="">Astuces</option>
                            <option value="">Templates</option>
                        </select>
                    </div>
                    

                    <button type="submit" class="md:inline ml-8 bg-indigo-500 py-3 px-6 
                                                rounded-md text-white hover:bg-indigo-600 
                                                md:block hidden">
                        Rechercher
                    </button>

                </div>

                <input autocomplete="additional-name" type="search" class="md:py-6 py-4 md:pl-20 pl-12 shadow-lg w-full bg-white outline-none rounded-lg focus:shadow-md" placeholder="Votre contenu ici" name="" id="">
                
            </form>

        </div>

    </section>


    <div class="lg:px-24 md:px-16 px-6 
                grid lg:grid-cols-3 gap-10 justify-center">
        
        <div class="rounded-xl hover:shadow-md rounded-b-3xl">
                    
            <div class="relative">
                
                <div class="absolute h-10 w-10 top-3 right-3 border rounded-full 
                            flex justify-center items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_6" data-name="Rectangle 6" width="17" height="17" transform="translate(416 297)" fill="#fff" stroke="#707070" stroke-width="1"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_de_masques_2" data-name="Groupe de masques 2" transform="translate(-416 -297)" clip-path="url(#clip-path)">
                            <path id="__TEMP__SVG__" d="M17,.911V11.232a.567.567,0,0,1-.37.56.662.662,0,0,1-.237.047.564.564,0,0,1-.427-.18L12.143,7.836V9.41a2.738,2.738,0,0,1-2.732,2.732H2.732a2.631,2.631,0,0,1-1.93-.8A2.633,2.633,0,0,1,0,9.411V2.732A2.631,2.631,0,0,1,.8.8,2.634,2.634,0,0,1,2.732,0H9.411a2.631,2.631,0,0,1,1.93.8,2.632,2.632,0,0,1,.8,1.93V4.3L15.966.484A.564.564,0,0,1,16.393.3a.662.662,0,0,1,.237.047A.567.567,0,0,1,17,.91Z" transform="translate(416 299.429)"/>
                        </g>
                    </svg>
                              
                      
                </div>

                <div class="absolute left-3 right-3 bottom-3 flex justify-between items-end">

                    <div class="flex items-center gap-1">

                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 mt-1"></div>
                        </div>
    
                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30 mt-1"></div>
    
                        </div>
    
                        <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                        <div class="text-sm text-gray-200 ml-3">
                            Débutant
                        </div>
                    </div>

                    <div class="py-2 w-max px-4 rounded-full bg-white bg-opacity-90">
                        <h3 class="text-md font-semibold text-gray-700">7.5 $</h3>
                    </div>
                </div>

                <img src="../public/images/projects/2.png" class="rounded-t-2xl rounded-bl-3xl" alt="">
            
            </div>
            
            <div class="px-4 py-6 -mt-6 border rounded-b-3xl">
                <h2 class="text-xl mt-4 text-gray-700">Les classes utilitaires avec Taillwindcss</h2>
            </div>
        </div>

        <div class="rounded-xl hover:shadow-md rounded-b-3xl">
                    
            <div class="relative">
                
                <div class="absolute h-10 w-10 top-3 right-3 border rounded-full 
                            flex justify-center items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_6" data-name="Rectangle 6" width="17" height="17" transform="translate(416 297)" fill="#fff" stroke="#707070" stroke-width="1"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_de_masques_2" data-name="Groupe de masques 2" transform="translate(-416 -297)" clip-path="url(#clip-path)">
                            <path id="__TEMP__SVG__" d="M17,.911V11.232a.567.567,0,0,1-.37.56.662.662,0,0,1-.237.047.564.564,0,0,1-.427-.18L12.143,7.836V9.41a2.738,2.738,0,0,1-2.732,2.732H2.732a2.631,2.631,0,0,1-1.93-.8A2.633,2.633,0,0,1,0,9.411V2.732A2.631,2.631,0,0,1,.8.8,2.634,2.634,0,0,1,2.732,0H9.411a2.631,2.631,0,0,1,1.93.8,2.632,2.632,0,0,1,.8,1.93V4.3L15.966.484A.564.564,0,0,1,16.393.3a.662.662,0,0,1,.237.047A.567.567,0,0,1,17,.91Z" transform="translate(416 299.429)"/>
                        </g>
                    </svg>
                              
                      
                </div>

                <div class="absolute left-3 right-3 bottom-3 flex justify-between items-end">

                    <div class="flex items-center gap-1">

                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 mt-1"></div>
                        </div>
    
                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30 mt-1"></div>
    
                        </div>
    
                        <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                        <div class="text-sm text-gray-200 ml-3">
                            Débutant
                        </div>
                    </div>

                    <div class="py-2 w-max px-4 rounded-full bg-white bg-opacity-90">
                        <h3 class="text-md font-semibold text-gray-700">7.5 $</h3>
                    </div>
                </div>

                <img src="../public/images/projects/2.png" class="rounded-t-2xl rounded-bl-3xl" alt="">
            
            </div>
            
            <div class="px-4 py-6 -mt-6 border rounded-b-3xl">
                <h2 class="text-xl mt-4 text-gray-700">Les classes utilitaires avec Taillwindcss</h2>
            </div>
        </div>

        <div class="rounded-xl hover:shadow-md rounded-b-3xl">
                    
            <div class="relative">
                
                <div class="absolute h-10 w-10 top-3 right-3 border rounded-full 
                            flex justify-center items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_6" data-name="Rectangle 6" width="17" height="17" transform="translate(416 297)" fill="#fff" stroke="#707070" stroke-width="1"/>
                            </clipPath>
                        </defs>
                        <g id="Groupe_de_masques_2" data-name="Groupe de masques 2" transform="translate(-416 -297)" clip-path="url(#clip-path)">
                            <path id="__TEMP__SVG__" d="M17,.911V11.232a.567.567,0,0,1-.37.56.662.662,0,0,1-.237.047.564.564,0,0,1-.427-.18L12.143,7.836V9.41a2.738,2.738,0,0,1-2.732,2.732H2.732a2.631,2.631,0,0,1-1.93-.8A2.633,2.633,0,0,1,0,9.411V2.732A2.631,2.631,0,0,1,.8.8,2.634,2.634,0,0,1,2.732,0H9.411a2.631,2.631,0,0,1,1.93.8,2.632,2.632,0,0,1,.8,1.93V4.3L15.966.484A.564.564,0,0,1,16.393.3a.662.662,0,0,1,.237.047A.567.567,0,0,1,17,.91Z" transform="translate(416 299.429)"/>
                        </g>
                    </svg>
                              
                      
                </div>

                <div class="absolute left-3 right-3 bottom-3 flex justify-between items-end">

                    <div class="flex items-center gap-1">

                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 mt-1"></div>
                        </div>
    
                        <div>
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                            <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30 mt-1"></div>
    
                        </div>
    
                        <div class="w-1 h-1 rounded-full bg-gray-100 opacity-30"></div>
    
                        <div class="text-sm text-gray-200 ml-3">
                            Débutant
                        </div>
                    </div>

                    <div class="py-2 w-max px-4 rounded-full bg-white bg-opacity-90">
                        <h3 class="text-md font-semibold text-gray-700">7.5 $</h3>
                    </div>
                </div>

                <img src="../public/images/projects/2.png" class="rounded-t-2xl rounded-bl-3xl" alt="">
            
            </div>
            
            <div class="px-4 py-6 -mt-6 border rounded-b-3xl">
                <h2 class="text-xl mt-4 text-gray-700">Les classes utilitaires avec Taillwindcss</h2>
            </div>
        </div>
       
    </div>

    <footer class="mt-32">
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>