<!DOCTYPE html>
<html lang="fr" style="scroll-behavior: smooth;">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white bg-opacity-75
                    w-full lg:h-auto h-16 lg:px-24 md:px-16 px-6 lg:py-0 py-3 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-500" id="navbar" 

             style="z-index:1000; -webkit-backdrop-filter:blur(12px); 
                    backdrop-filter: blur(12px);">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden -mt-1">
                
                <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                    

                    <div style="width:25px;" class="flex flex-wrap justify-end">

                        <style>
                            .rotate-1{

                                transform: rotate(134deg);
                                margin-top:24px !important;

                            }

                            .rotate-2{

                                transform: rotate(-134deg);
                                margin-top:-1px !important;

                            }
                        </style>

                        <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                        <div class="line-2 transition-all duration-500" style="height:2px; width:20px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        <div class="line-3 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                    </div>

                </button>

            </div>

            <div class="w-full lg:hidden hidden justify-center z-50" id="navuser">
                
                <div class="flex gap-6">

                    <a href="login.html" class="bg-white border border-indigo-400 py-3 px-6 
                                                rounded-md text-indigo-500 font-semibold">
                        Se connecter
                    </a>
                    
                    <a href="register.html" class="bg-indigo-500 py-3 px-6 rounded-md text-white 
                                                    hover:bg-indigo-600  font-semibold">
                        S'inscrire
                    </a>
                
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-8 
                        gap-24 lg:bg-transparent bg-white lg:shadow-none 
                        shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden 
                        z-50 transition-all duration-900" id="navlinks">

                <a href="index.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500
                                                border-b-2 border-green-700">
                    Portfolio
                </a>

                <a href="contents.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nos contenus
                </a>
                
                <a href="us.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nous
                </a>

                <a href="blog.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-600 hover:text-green-500">
                    Blog
                </a>
                
                <a href="contact.html" class="w-max bg-green-500 text-sm text-white 
                                              hover:bg-green-600
                                                lg:inline block lg:my-0 md:mt-8 mt-6 
                                                lg:py-3 py-3 px-6 rounded-md">

                    Prendre contact
                </a>
                
                <div class="w-8 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden transition-all duration-700" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section class="lg:px-24 md:px-16 px-6"  id="hero">
        
        <div class="justify-between relative z-50 flex items-center" style="height:95vh;">

            <div class="w-full flex justify-center">
                <div class="lg:w-8/12 text-center">
                    <span class="uppercase text-gray-400 font-thin" style="letter-spacing:5px;">Découvrir</span>
                    
                    <h1 class="mt-8 text-5xl font-semibold text-indigo-500">Nos études de cas</h1>

                    <p class="mt-16 text-gray-600 text-xl  md:leading-snug leading-normal">
                        Chaque produit que nous développons permet à nos clients à atteindre leurs objectifs commerciaux.
                    </p>
                    

                    <div class="absolute bottom-0 right-0 left-0 flex justify-center">
                        <a href="#main" id="toportfolio">
                            <div class="flex items-center justify-center text-gray-600
                                    h-24 w-24 border-2 rounded-full 
                                    hover:border-transparent hover:shadow-2xl hover:text-blue-500">
                            
                                <svg xmlns="http://www.w3.org/2000/svg" class="animate-bounce w-5 stroke-current" height="12.621" viewBox="0 0 22.243 12.621">
                                    <path id="Icon_feather-chevron-down" data-name="Icon feather-chevron-down" d="M9,13.5l9,9,9-9" transform="translate(-6.879 -11.379)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                                </svg>
                                    
                            </div>
                        </a>
                        
                    </div>
                    

                </div>
            </div>
    
        </div>

        <div class="absolute left-0 right-0 flex justify-center top-40 opacity-90" style="z-index:10;">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8/12" height="520.023" viewBox="0 0 1247.164 520.023">
                <path id="Tracé_1" data-name="Tracé 1" d="M-37.548,133.307s33.133-21.486,86.825-71.366S98.8-34.174,177.22-66.212s148.159-9.661,185.738,0c162.945,41.891,252.019,0,252.019,0S675.934-102.718,808.2-205.08c67.323-52.1,138.577,38.467,230.774,0s138.016-153.869,138.016-153.869" transform="translate(66.28 362.844)" fill="none" stroke="#d8f364" stroke-linecap="round" stroke-width="4"/>
                <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(0 488.023)" fill="none" stroke="#8ffc31" stroke-width="4">
                  <circle cx="16" cy="16" r="16" stroke="none"/>
                  <circle cx="16" cy="16" r="13" fill="none"/>
                </g>
            </svg>
        </div>

    </section>

    <section class="lg:px-24 md:px-16 px-6 lg:pt-72 pt-24" id="main">

        <div class="grid lg:grid-cols-2 lg:gap-40 md:gap-16 gap-8">

            
            <div class="text-gray-400 hover:text-blue-500">
    
                <img class="rounded-3xl" src="../public/images/blog/Il_y_a_de_mauvaises_agences_de_bonnes_agences_e.original.jpg" alt="">
            
                <div class="md:px-6 px-3 md:mt-8 mt-4 flex justify-between">

                    <div>
                        <h2 class="text-3xl text-gray-700">Congo Mémoire</h2>

                        <p class="text-gray-500 mt-2">Application web</p>
                    </div>
                    

                    <div class="flex items-center">

                        <p class="text-gray-500 md:block hidden">Etude de cas</p>

                        <div class="h-12 w-12 rounded-full transition-all duration-300
                                flex justify-center items-center
                                hover:bg-indigo-500 hover:text-white hover:z-50">


                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                </svg>
                                  
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="lg:-mt-32 grid lg:gap-24 md:gap-16 gap-8">

                <div class="text-gray-400 hover:text-blue-500">
                    <img class="rounded-3xl" src="../public/images/blog/how-to-create-design-system-in-xd-step-0-header.png" alt="">
                
                    <div class="md:px-6 px-3 md:mt-8 mt-4 flex justify-between">

                        <div>
                            <h2 class="text-3xl text-gray-700">Humanitary</h2>
    
                            <p class="text-gray-500 mt-2">Design System</p>
                        </div>
                        
    
                        <div class="flex items-center">
    
                            <p class="text-gray-500 md:block hidden">Etude de cas</p>
    
                            <div class="h-12 w-12 rounded-full transition-all duration-300
                                    flex justify-center items-center
                                    hover:bg-indigo-500 hover:text-white hover:z-50">
    
    
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                    </svg>
                                      
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="text-gray-400 hover:text-blue-500">
                    <img class="rounded-3xl" src="../public/images/blog/surprised-software-developer-cannot-adapt-necessary-application.jpg" alt="">
                
                    <div class="md:px-6 px-3 md:mt-8 mt-4 flex justify-between">

                        <div>
                            <h2 class="text-3xl text-gray-700">Lushitrap</h2>
    
                            <p class="text-gray-500 mt-2">Application web</p>
                        </div>
                        
    
                        <div class="flex items-center">
    
                            <p class="text-gray-500 md:block hidden">Etude de cas</p>
    
                            <div class="h-12 w-12 rounded-full transition-all duration-300
                                    flex justify-center items-center
                                    hover:bg-indigo-500 hover:text-white hover:z-50">
    
    
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                    </svg>
                                      
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        
    </section>

    <section class="lg:px-24 md:px-16 px-6 my-24">

        <div class="lg:flex items-center gap-16">

            <div class="w-5/12 lg:-mt-96 lg:-ml-24">
                <div class="lg:w-10/12 lg:h-96 lg:pl-24 lg:border-r-4 rounded--full rounded-r-full lg:-mt-24">

                    <div class="grid lg:grid-cols-2 grid-cols-3 lg:gap-0 md:gap-64 gap-28 lg:-mr-40">

                        <div class="md:w-32 h-28 w-28 md:h-32 h-28 w-28 lg:-mt-16 
                                flex flex-wrap items-center justify-center  
                                bg-white rounded-full hover:shadow-xl
                                hover:border-transparent shadow-md
                                transition-all duration-300">

                            <div class="text-center">
                                <h3 class="text-4xl text-indigo-400">41</h3>
                                <p class="text-sm text-gray-500">Projets</p>
                            </div>
                            
                        </div> 
                    
                        <div class="md:w-32 h-28 w-28 md:h-32 h-28 w-28 lg:mt-28 
                                    flex flex-wrap items-center justify-center  
                                    bg-white rounded-full hover:shadow-xl
                                    hover:border-transparent shadow-md
                                    transition-all duration-300">

                            <div class="text-center">
                                <h3 class="text-4xl text-pink-400">12k</h3>
                                <p class="text-sm text-gray-500">Visites</p>
                            </div>
                            
                        </div> 

                        <div class="md:w-32 h-28 w-28 md:h-32 h-28 w-28 lg:mt-20 
                                    flex flex-wrap items-center justify-center  
                                    bg-white rounded-full hover:shadow-xl
                                    hover:border-transparent shadow-md
                                    transition-all duration-300">

                            <div class="text-center">
                                <h3 class="text-4xl text-green-400">12</h3>
                                <p class="text-sm text-gray-500">Clients</p>
                            </div>
                            
                        </div> 
                    </div>
                        
                </div>
            </div>

            <div class="lg:w-7/12 ml-auto lg:mt-0 mt-20 mb-24">

                <h2 class="text-4xl text-gray-800 mb-12 leading-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

                <p class="text-gray-500 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, dolorem nemo! Officiis vero accusamus placeat quis labore saepe ducimus et laborum. Minus, perferendis nam perspiciatis est repudiandae architecto eos ullam.</p>
            </div>
        </div>

        <div class="grid md:grid-cols-3 gap-8">
            <a href="" class="relative flex items-end hover:shadow-xl rounded-xl">

                <div class="absolute w-full h-64 flex items-end
                            opacity-0 hover:opacity-100
                            transition-all duration-100 rounded-xl">

                    <div class="p-4 w-full h-max bg-opacity-40 bg-gray-900 
                                rounded-b-xl"

                                style="-webkit-backdrop-filter:blur(12px); 
                                backdrop-filter: blur(12px);" >


                        <div class="md:mt-8 mt-4 flex justify-between gap-5 items-center">

                            <div>
                                <h2 class="text-2xl text-white">Congo Mémoire</h2>
        
                                <p class="text-gray-200 mt-2">Application web</p>
                            </div>
                            
                            <div class="border-l border-gray-100 text-white pl-3 w-4/12 ml-auto">
                                Etude de cas

                                <div class="h-12 w-12 rounded-full transition-all duration-300
                                        flex justify-center items-center text-gray-200
                                        hover:bg-white hover:text-indigo-500 hover:z-50">
        
        
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
                <img class="h-64 object-cover rounded-xl" src="../public/images/blog/migrating-design-system-sketch-to-adobe-xd_00.webp" alt="">
            </a>

            <a href="" class="relative flex items-end hover:shadow-xl rounded-xl">

                <div class="absolute w-full h-64 flex items-end
                            opacity-0 hover:opacity-100
                            transition-all duration-100 rounded-xl">

                    <div class="p-4 w-full h-max bg-opacity-40 bg-gray-900 
                                rounded-b-xl"

                                style="-webkit-backdrop-filter:blur(12px); 
                                backdrop-filter: blur(12px);" >


                        <div class="md:mt-8 mt-4 flex justify-between gap-5 items-center">

                            <div>
                                <h2 class="text-2xl text-white">Congo Mémoire</h2>
        
                                <p class="text-gray-200 mt-2">Application web</p>
                            </div>
                            
                            <div class="border-l border-gray-100 text-white pl-3 w-4/12 ml-auto">
                                Etude de cas

                                <div class="h-12 w-12 rounded-full transition-all duration-300
                                        flex justify-center items-center text-gray-200
                                        hover:bg-white hover:text-indigo-500 hover:z-50">
        
        
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
                <img class="h-64 object-cover rounded-xl" src="../public/images/blog/Quest_ce_quune_solution_SaaS.original.jpg" alt="">
            </a>

            <a href="" class="relative flex items-end hover:shadow-xl rounded-xl">

                <div class="absolute w-full h-64 flex items-end
                            opacity-0 hover:opacity-100
                            transition-all duration-100 rounded-xl">

                    <div class="p-4 w-full h-max bg-opacity-40 bg-gray-900 
                                rounded-b-xl"

                                style="-webkit-backdrop-filter:blur(12px); 
                                backdrop-filter: blur(12px);" >


                        <div class="md:mt-8 mt-4 flex justify-between gap-5 items-center">

                            <div>
                                <h2 class="text-2xl text-white">Congo Mémoire</h2>
        
                                <p class="text-gray-200 mt-2">Application web</p>
                            </div>
                            
                            <div class="border-l border-gray-100 text-white pl-3 w-4/12 ml-auto">
                                Etude de cas

                                <div class="h-12 w-12 rounded-full transition-all duration-300
                                        flex justify-center items-center text-gray-200
                                        hover:bg-white hover:text-indigo-500 hover:z-50">
        
        
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-current" height="30.705" viewBox="0 0 31.504 30.705">
                                        <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                                    </svg>
                                        
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
                <img class="h-64 object-cover rounded-xl" src="../public/images/blog/how-to-create-design-system-in-xd-step-0-header.png" alt="">
            </a>

        </div>

    </section>

    <div class="-mb-20 -ml-1 lg:mt-40">

        <svg xmlns="http://www.w3.org/2000/svg" class="w-full" height="181.155" viewBox="0 0 1367.743 181.155">
            <path class="stroke-current text-pink-300" id="Tracé_2" data-name="Tracé 2" d="M1.156-14.547S67.627-64.11,392.727-64.11c153.122,0,358.295,59.211,541.725,75.43C1141.112,29.594,1289.9-67.574,1289.9-67.574" transform="translate(0.243 87.655)" fill="none" stroke-linecap="round" stroke-width="2"/>
            <path class="fill-current text-indigo-800" id="Tracé_1" data-name="Tracé 1" d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z" transform="translate(1.743 66.155)"/>
            <path id="Icon_awesome-rocket" data-name="Icon awesome-rocket" d="M20.331.769A.64.64,0,0,0,19.84.278,14.608,14.608,0,0,0,16.52,0c-4.154,0-6.646,2.222-8.5,5.152H3.82A1.932,1.932,0,0,0,2.095,6.219L.106,10.2a.966.966,0,0,0,.865,1.4H5.148l-.9.9a1.288,1.288,0,0,0,0,1.821l2.049,2.049a1.288,1.288,0,0,0,1.822,0l.9-.9v4.18a.966.966,0,0,0,1.4.865l3.973-1.988a1.928,1.928,0,0,0,1.067-1.727v-4.2c2.922-1.864,5.152-4.363,5.152-8.5A14.279,14.279,0,0,0,20.331.769ZM15.459,6.762a1.61,1.61,0,1,1,1.61-1.61,1.61,1.61,0,0,1-1.61,1.61Z" transform="translate(1289.923)" fill="#80c8ff"/>
        </svg>
          
    </div>
    <section class="bg-indigo-800 lg:px-24 md:px-16 px-6">

        <div class="flex items-center gap-24 py-20 relative z-50">
            
            <div class="lg:w-7/12 md:w-10/12 w-full text-center m-auto">
                <h2 class="md:text-4xl text-4xl font-semibold text-gray-100 lg:leading-normal">Un click vous sépare du coup de Boost.</h2>
                <p class="text-gray-200 mt-8 leading-normal">Notre équipe a fait ses preuves en entreprise puis en freelance et est prête à vous accompagner dans votre projet.</p>
                
                <div class="mt-8 md:w-max m-auto">
                    <div class="justify-center z-50" id="navuser">
                    
                        <div class="flex flex-wrap md:gap-6 gap-4">

                            <a href="us.html" class="md:w-max w-full bg-white shadow-md py-3 px-6 
                                                        rounded-md text-green-500">
                                Apropos de nous
                            </a>
                            
                            <a href="register.html" class="md:w-max w-full bg-green-500 py-3 px-6 rounded-md text-white 
                                                            hover:bg-green-600 shadow-md">
                                Prendre contact
                            </a>
                        
                        </div>
                        
                        <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
                    </div>
                </div>
            </div>

        </div>
    </section> 

    <footer>
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>