<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="stylesheet" href="../public/css/video.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden">


    <div class="z-50 relative bg-gray-100">
                    
        <div class="lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-12 md:px-16 px-4">
            <div class="lg:w-5/12 md:w-8/12 m-auto py-8 lg:px-8">
                <div class="flex-shrink-0 ml-4">
                    <a href="index.html" class="flex items-center  mt-0 space-x-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-11" viewBox="0 0 1748.626 1032.584">
                            <path id="Path_134" data-name="Path 134" d="M2874.31,2094.42c0-284.95-231.343-516.292-516.292-516.292H1641.976c-284.949,0-516.292,231.342-516.292,516.292s231.343,516.292,516.292,516.292h716.042C2642.967,2610.712,2874.31,2379.369,2874.31,2094.42Zm-272.115,0c0-134.765-109.412-244.177-244.177-244.177H1641.976c-134.765,0-244.177,109.412-244.177,244.177S1507.211,2338.6,1641.976,2338.6h716.042C2492.783,2338.6,2602.2,2229.185,2602.2,2094.42Z" transform="translate(-1125.684 -1578.128)" fill="#05ffbb" fill-rule="evenodd"/>
                        </svg>
                        <span class="text-2xl font-medium text-gray-600 tracking-tight">Devscast</span>
                    </a>
                </div>
    
                <div class="mt-8 py-8 md:pb-8 pb-24 md:px-12 px-6 bg-white rounded-lg shadow-xl">
    
                    <h1 class="text-3xl text-gray-800 mt-6">Bon retour</h1>
                    <p class="text-gray-500">Connectez-vous en un click avec :</p>
    
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 justify-between mt-6">
    
                        <button class="w-full px-4 py-3 border-2 rounded text-sm text-gray-600 flex items-center justify-center gap-3 outline-none hover:border-transparent hover:bg-gray-100 focus:bg-gray-200 transition-all">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" class="w-4" alt="">Google
                        </button>
    
                        <button class="w-full bg-gray-700 px-4 py-3 rounded text-sm text-white flex items-center justify-center gap-3 outline-none hover:bg-gray-800 focus:bg-gray-900 transition-all">
                            
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
    
                            Github
                        </button>
                    
                    </div>
    
                    <div class="w-full m-auto mt-4 flex gap-4 border-b">
                        
                        <p class="text-gray-700 py-1 px-3 bg-white w-min m-auto -mb-4">Ou</p>
                        
                    </div>
    
                    <form action="" class="mt-8">
    
                        <div class="space-y-6">
                            <input type="text" name="username" class="text-gray-600 px-4 py-2 bg-gray-100 rounded w-full border-2 border-transparent focus:outline-none focus:border-indigo-200 focus:bg-white" type="text" placeholder="Nom d'utilisateur" required>
        
                            <div class="grid gap-3">
                                <div class="relative text-transparent focus-within:text-gray-500">
                                    <input type="password" id="pwd" name="pwd" class="text-gray-600 px-4 py-2 bg-gray-100 rounded w-full border-2 border-transparent focus:outline-none focus:border-indigo-200 focus:bg-white" type="text" placeholder="Mot de passe" required>
                                
                                    <button class="absolute p-3 right-0 bg-gray-200 rounded-r bg-opacity-0 focus:bg-opacity-100 transition-all">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 fill-current" viewBox="0 0 16 16">
                                            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                                        </svg>
                                    </button>
                                </div>
                                
                                <p class="w-max ml-auto">
                                    <a href="" class="text-sm text-blue-500 hover:text-blue-600 transition-all py-2 px-4 rounded">Mot de passe oublié ?</a>
                                </p>
                            </div>
                        </div>
                        
                        
                        <div class="mt-8 space-y-4">
    
                            <button type="submit" class="w-full ml-auto py-3 px-8 bg-green-500 rounded
                                                        text-gray-900 hover:bg-green-600 focus:bg-green-700 outline-none transition-all">
                                Se connecter
                            </button>
    
                            <button type="submit" class="px-4 py-2 text-sm text-blue-500 outline-none hover:bg-gray-50 rounded focus:bg-blue-50">Créer un nouveau compte</button>
    
                        </div>
                        
                    </form>
    
                </div>
    
                <div class="md:px-4 mt-8">
    
                    <div class="text-blue-500 text-center space-x-4">
                        <a href="" class="text-sm">Confidentialité</a>
                        <a href="" class="text-sm">Licence</a>
                    </div>
    
                    <div class="w-max m-auto">
                        <a href="index.html" class="flex space-x-3 w-max m-auto pt-8 mt-4 border-t">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-16 m-auto" viewBox="0 0 1748.626 1032.584">
                                <path class="fill-current text-gray-400" d="M2874.31,2094.42c0-284.95-231.343-516.292-516.292-516.292H1641.976c-284.949,0-516.292,231.342-516.292,516.292s231.343,516.292,516.292,516.292h716.042C2642.967,2610.712,2874.31,2379.369,2874.31,2094.42Zm-272.115,0c0-134.765-109.412-244.177-244.177-244.177H1641.976c-134.765,0-244.177,109.412-244.177,244.177S1507.211,2338.6,1641.976,2338.6h716.042C2492.783,2338.6,2602.2,2229.185,2602.2,2094.42Z" transform="translate(-1125.684 -1578.128)" fill-rule="evenodd"/>
                            </svg>
                            <div class="">
                                <span class="text-3xl font-medium text-gray-500 tracking-tight">Devscast</span>
                                <span class="block text-gray-400 text-sm text-center -mt-1">The boost you need</span>
                            </div>
                            
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../public/js/script.js"></script>

</body>
</html>