<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white z-50
                    w-full lg:h-auto h-auto lg:px-24 md:px-16 px-6 py-4 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-700 ease-in-out" id="navbar">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-700">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden mt-2">
                <button type="button" id="navbar-open" class="hamburger-open flex lg:hidden transition-all">
                    <svg class="fill-current text-gray-600 w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
                <button type="button" id="navbar-close" class="hidden hamburger-close flex hidden">
                    <svg class="fill-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                </button>
            </div>

            <div class="w-full lg:hidden hidden justify-center z-50 -mt-10 transition-all duration-700" id="navuser">
                <div class="flex gap-6">
                    <a href="" class="bg-indigo-50 py-3 px-6 rounded-md text-indigo-500 font-semibold">Se connecter</a>
                    <a href="" class="bg-indigo-500 py-3 px-6 rounded-md text-white font-semibold">S'inscrire</a>
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-7 gap-24 lg:shadow-none shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden -mt-40 z-50 transition-all duration-700" id="navlinks">
                <a href="work.html" class="lg:inline block lg:my-0 md:mb-8 mb-6 text-gray-700  hover:text-green-500">Portfolio</a>
                <a href="contents.html" class="lg:inline block lg:my-0 md:my-8 text-green-500 my-6 text-gray-700 hover:text-green-500">Nos contenus</a>
                <a href="us.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Nous</a>
                <a href="blog.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Blog</a>
                <a href="contact.html" class="text-md w-max lg:inline block lg:my-0 md:mt-8 mt-6 lg:py-2 py-3 px-6 rounded-md border-gray-500 border-2 text-gray-800">Prendre contact</a>
                
                <div class="w-10 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden -mt-72 transition-all duration-700 ease-in-out" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section id="hero" class="bg-gradient-to-b from-white to-gray-50 mb-24">
        <div class="lg:px-24 md:px-16 px-6 md:py-32 py-20 pt-32 md:pt-48">
            <h1 class="lg:w-6/12 lg:text-5xl font-bold text-4xl text-gray-900 lg:leading-snug leading-snug">Contenu <span class="text-indigo-500">créatif</span> pour tout le monde.</h1>
            <p class="mt-6 text-gray-600">Rem doloremque beatae eaque! Aliquam praesentium ipsam omnis pariatur doloribus animi ipsum!</p>
        </div>
        <div class="w-10/12 m-auto absolute left-0 right-0" style="z-index:20;">
            <form action="" class="flex items-center">
                <div class="absolute ml-8">
                    <svg class="fill-current text-gray-500 pointer-events-none  w-6 h-6 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                    </svg>
                </div>
                <div class="absolute right-0 mr-3">
                    <select name="" id="" class="outline-none border-l-2 p-2 pl-6">
                        <option value="">Formations</option>
                        <option value="">Code</option>
                        <option value="">Astuces</option>
                        <option value="">Templates</option>
                    </select>

                    <button type="submit" class="md:inline hidden ml-8 bg-indigo-500 py-3 px-6 rounded-md text-white hover:bg-indigo-600">Rechercher</button>
                </div>

                <input autocomplete="additional-name" type="search" class="py-6 pl-20 shadow-xl w-full bg-white outline-none rounded-lg focus:shadow-md" placeholder="De quel contenu avez-vous besoin ?" name="" id="">
                
            </form>
        </div>
        <div class="w-full mt-10" style="height:60vh; background:url('../public/images/content\ bg.jpg'); background-size: cover;">

        </div>
    </section>

    <section class="md:mb-16 mb-6">
        <div class="lg:px-24 md:px-16 px-6">

            <h2 class="text-4xl font-semibold text-gray-800 mb-16">Les plus vus en ce moment</h2>

            <div class="grid md:grid-cols-2 gap-6">

                <div class="relative">
                    <div class="-mt-7 absolute top-0 right-8 bg-yellow-500 p-4">
                        <h4 class="font-bold">16.67 $</h4>
                    </div>
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-purple-900 bg-opacity-95">
                        <span class="border border-white px-4 text-sm p-2 text-white rounded-full">
                            UI DESIGN
                        </span>
                        <h3 class="my-6 text-3xl font-semibold text-white leading-snug">Prototypez vos maquettes avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/2.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="-mt-7 absolute top-0 right-8 bg-yellow-500 p-4">
                        <h4 class="font-bold">16.67 $</h4>
                    </div>
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <span class="border border-white px-4 text-sm p-2 text-white rounded-full">
                            UI DESIGN
                        </span>
                        <h3 class="my-6 text-3xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

            </div>

        </div>
    </section>

    <section class="md:mb-16 mb-6">
        <div class="lg:px-24 md:px-16 px-6">

            <h2 class="md:text-4xl text-2xl font-semibold text-gray-800 md:mb-16 mb-6">Développement Web</h2>

            <div class="grid lg:grid-cols-6 md:grid-cols-8 grid-cols-8 gap-6 overflow-x-scoll items-center" style="width: 2600px;">

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-purple-900 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Prototypez vos maquettes avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/2.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-gray-500 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Material Design System <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/1.jpg" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <span class="border border-white px-4 text-sm p-2 text-white rounded-full">
                            UI DESIGN
                        </span>
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="flex justify-start">
                    <div class="w-24 h-24 border rounded-full flex items-center justify-center hover:border-white hover:shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-600 hover:text-green-500" width="31.504" height="30.705" viewBox="0 0 31.504 30.705">
                            <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                        </svg>
                          
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="md:mb-16 mb-6">
        <div class="lg:px-24 md:px-16 px-6">

            <h2 class="md:text-4xl text-2xl font-semibold text-gray-800 md:mb-16 mb-6">UX / UI Design</h2>

            <div class="grid lg:grid-cols-6 md:grid-cols-8 grid-cols-8 gap-6 overflow-x-scoll items-center" style="width: 2600px;">

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-purple-900 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Prototypez vos maquettes avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/2.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-gray-500 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Material Design System <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/1.jpg" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <span class="border border-white px-4 text-sm p-2 text-white rounded-full">
                            UI DESIGN
                        </span>
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="relative">
                    <div class="rounded-2xl w-full absolute bottom-0 p-6 bg-gradient-to-b from-transparent to-green-800 bg-opacity-95">
                        <h3 class="mt-6 text-2xl font-semibold text-white leading-snug">Créez un design system pour votre entreprise avec <span class="text-pink-300">Adobe XD</span> .</h3>
                    </div>
                    <img src="../public/images/projects/3.png" class="rounded-2xl" alt="">
                </div>

                <div class="flex justify-start">
                    <div class="w-24 h-24 border rounded-full flex items-center justify-center hover:border-white hover:shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-600 hover:text-green-500" width="31.504" height="30.705" viewBox="0 0 31.504 30.705">
                            <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M13.395,4.7l1.561-1.561a1.681,1.681,0,0,1,2.384,0L31.008,16.8a1.681,1.681,0,0,1,0,2.384L17.339,32.857a1.681,1.681,0,0,1-2.384,0L13.395,31.3a1.689,1.689,0,0,1,.028-2.412L21.9,20.813H1.688A1.683,1.683,0,0,1,0,19.125v-2.25a1.683,1.683,0,0,1,1.688-1.687H21.9L13.423,7.116A1.677,1.677,0,0,1,13.395,4.7Z" transform="translate(0 -2.647)"/>
                        </svg>
                          
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-32">
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>