<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
</head>

<body class="overflow-x-hidden relative z-40 text-gray-500 
            before:fixed before:h-screen before:m-auto before:w-7/12 
            before:left-0 before:right-0 before:bg-transparent before:z-10
            before:border-l before:border-r before:border-dashed before:border-opacity-70
            
            after:fixed affter:z-10 after:top-0 after:left-0 after:right-0 after:h-screen after:w-[93vw] after:m-auto 
            after:border-l after:border-r">

    <header class="fixed w-full lg:h-auto h-14 lg:py-1.5 transition-all duration-500 z-40 flex items-center border-b border-dashed border-opacity-90">
        <nav role="navigation" id="navbar" class="w-full flex justify-between items-center gap-4 lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-4 md:px-16 px-4 lg:py-0 py-3">
            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0 space-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10" viewBox="0 0 1748.626 1032.584">
                        <path id="Path_134" data-name="Path 134" d="M2874.31,2094.42c0-284.95-231.343-516.292-516.292-516.292H1641.976c-284.949,0-516.292,231.342-516.292,516.292s231.343,516.292,516.292,516.292h716.042C2642.967,2610.712,2874.31,2379.369,2874.31,2094.42Zm-272.115,0c0-134.765-109.412-244.177-244.177-244.177H1641.976c-134.765,0-244.177,109.412-244.177,244.177S1507.211,2338.6,1641.976,2338.6h716.042C2492.783,2338.6,2602.2,2229.185,2602.2,2094.42Z" transform="translate(-1125.684 -1578.128)" fill="#05ffbb" fill-rule="evenodd"/>
                    </svg>
                    <span class="text-2xl font-semibold text-gray-600 tracking-tighter">dev's <span class="uppercase text-base font-semibold tracking-normal text-green-500">Podcast</span> </span>
                </a>
            </div>

            <form action="" class="w-7/12 fixed -top-1 px-0.5 left-0 right-0 m-auto ">
                <div class="h-16 relative z-10 bg-white text-gray-600 focus-within:text-blue-500
                            before:absolute before:-bottom-0.5 before:h-0.5 before:left-0 before:right-0 before:scale-x-0 before:m-auto before:bg-gradient-to-r before:from-blue-200 before:via-blue-400 before:to-blue-200 focus-within:before:!scale-x-100 focus-within:invalid:before:bg-red-400 before:transition before:duration-300">
                    <svg xmlns="http://ww50w3.org/2000/svg" class="absolute left-5 top-0 bottom-0 my-auto h-4 w-4 fill-current" viewBox="0 0 35.997 36.004">
                        <path id="Icon_awesome-search" data-name="search" d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"></path>
                    </svg> 
                    <div class="absolute top-0 right-1 bottom-0 h-12 my-auto flex items-center">
                        <button type="button" class="-mb-1 h-12 w-12 rounded-full hover:bg-gray-100 focus:bg-gray-200 active:bg-gray-300">
                            <svg class="w-5 m-auto" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C4.55228 0 5 0.447715 5 1V8C5 8.55228 4.55228 9 4 9C3.44772 9 3 8.55228 3 8V1C3 0.447715 3.44772 0 4 0ZM5 13H7C7.55228 13 8 12.5523 8 12C8 11.4477 7.55228 11 7 11H4H1C0.447715 11 0 11.4477 0 12C0 12.5523 0.447715 13 1 13H3V19C3 19.5523 3.44772 20 4 20C4.55228 20 5 19.5523 5 19V13ZM13 10C13 9.44771 12.5523 9 12 9C11.4477 9 11 9.44771 11 10V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V10ZM12 0C12.5523 0 13 0.447715 13 1V5H15C15.5523 5 16 5.44772 16 6C16 6.55228 15.5523 7 15 7H12H9C8.44771 7 8 6.55228 8 6C8 5.44772 8.44771 5 9 5H11V1C11 0.447715 11.4477 0 12 0ZM20 13H23C23.5523 13 24 13.4477 24 14C24 14.5523 23.5523 15 23 15H21V19C21 19.5523 20.5523 20 20 20C19.4477 20 19 19.5523 19 19V15H17C16.4477 15 16 14.5523 16 14C16 13.4477 16.4477 13 17 13H20ZM20 0C20.5523 0 21 0.447715 21 1V10C21 10.5523 20.5523 11 20 11C19.4477 11 19 10.5523 19 10V1C19 0.447715 19.4477 0 20 0Z" fill="black"/>
                            </svg>
                        </button>
                    </div>
                    <label for="search" class="absolute left-16 top-0 bottom-0 h-6 my-auto cursor-text text-gray-500">Quel podcast voulais-vous suivre ?</label>
                    <input id="search" type="search" class="w-full h-14 pt-1.5 pl-16 pr-4 text-gray-600 bg-transparent outline-none  invalid:border-red-400 transition"> 
                </div>
                <div class="z-0 relative w-full h-16 -mt-14 blur-md bg-gradient-to-r from-transparent via-gray-300 opacity-75 to-transparent"></div>
            </form>

            <div>
                <button class="h-12 w-12 rounded-full text-gray-500 bg-gray-100 hover:bg-gray-200 focus:bg-gray-200 active:bg-gray-300 transition">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="m-auto" viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                      </svg>
                </button>
            </div>
        </nav>
    </header>

    <main class="z-30 relative pt-20 pb-24">
        <div class="lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-0 md:px-16 px-4">
            <!--- Podcast series ---> 
            <div hidden class="lg:w-7/12 m-auto py-6 space-y-6">
                <div class="flex gap-6 pb-2">
                    <div class="w-3/12 h-auto relative">
                        <div class="absolute top-5 h-40 w-full bg-gradient-to-br from-pink-400 to-purple-500 rounded-lg scale-90"></div>
                        <img src="../public/images/user 2.jpg" class="relative h-40 object-cover rounded-lg" alt="">
                    </div>

                    <div class="w-9/12 space-y-4">
                        <h2 class="text-3xl font-medium text-gray-700 leading-8">Tous sur le développement d'applications web modernes</h2>
                        <p>Corporis molestiae, non quia eaque sint hic accusantium consequatur, harum asperiores molestias amet ducimus quae porro quam. Quam necessitatibus placeat blanditiis quibusdam.</p>
                        <p>Corporis molestiae, non quia eaque sint hic accusantium consequatur, harum asperiores molestias amet ducimus quae porro quam. Quam necessitatibus placeat blanditiis quibusdam.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium porro labore sapiente laborum beatae vero id similique voluptates eum, esse nostrum omnis consequuntur odio modi, aspernatur quaerat soluta enim necessitatibus!</p>
                        <div class="flex gap-6 pt-4">
                            <button class="flex items-center gap-2.5 pr-4 pl-2 py-2 bg-green-500 text-green-900 rounded-full hover:bg-green-600 focus:bg-green-600 active:bg-green-700">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                </svg>
                                <span>Ecouter</span>
                            </button>
                            <button class="h-10 w-10 rounded-full text-green-600 border border-gray-300 bg-green-500 bg-opacity-0 focus:text-green-500 focus:bg-opacity-10 active:bg-opacity-20">
                                <svg class="w-5 m-auto fill-current" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.2931 4.17519V0L16.1255 4.54081L20 8.18156L16.0567 11.2695L11.2931 15V10.9145C2.93003 10.3222 5.27032e-07 14.8698 5.27032e-07 14.8698C5.27032e-07 12.0365 0.248446 9.09608 2.61896 6.86957C5.37447 4.27937 9.36502 4.09608 11.2931 4.17519Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="border-t divide-y border-dashed pt-6">
                    <div class="py-1">
                        <a href="#" class="flex justify-between items-center px-4 py-2 h-12 bg-gray-100 rounded-lg bg-opacity-0 hover:bg-opacity-100 transition">
                            <div class="flex items-center">
                                <span class="w-12 text-sm tracking-wider text-green-500">
                                    Ep99
                                </span>
                                <h6 class="text-gray-700">Podcast ep title here, i'm not inspired</h6>    
                            </div>

                            <div class="flex gap-2 items-center">
                                <span class="block text-sm tracking-wider text-gray-700 rounded-full px-2 py-0.5 bg-gray-200">
                                    12:54
                                </span>
                                <span class="pl-2 border-l border-gray-300 text-xs tracking-wider text-green-500">
                                    Aujourd'hui
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="py-1">
                        <a href="#" class="flex justify-between items-center px-4 py-2 h-12 bg-gray-100 rounded-lg bg-opacity-0 hover:bg-opacity-100 transition">
                            <div class="flex items-center">
                                <span class="w-12 text-sm tracking-wider text-green-500">
                                    Ep99
                                </span>
                                <h6 class="text-gray-700">Podcast ep title here, i'm not inspired</h6>    
                            </div>

                            <div class="flex gap-2 items-center">
                                <span class="block text-sm tracking-wider text-gray-700 rounded-full px-2 py-0.5 bg-gray-200">
                                    12:54
                                </span>
                                <span class="pl-2 border-l border-gray-300 text-xs tracking-wider text-green-500">
                                    Aujourd'hui
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="py-1">
                        <a href="#" class="flex justify-between items-center px-4 py-2 h-12 bg-green-100 rounded-lg">
                            <div class="flex items-center">
                                <span class="w-12 text-sm tracking-wider text-green-500">
                                    Ep99
                                </span>
                                <h6 class="text-green-700">Podcast ep title here, i'm not inspired</h6>    
                            </div>

                            <div class="flex gap-2 items-center">
                                <span class="block text-sm tracking-wider text-green-700 rounded-full px-2 py-0.5 bg-green-200">
                                    12:54
                                </span>
                                <span class="pl-2 border-l border-green-300 text-xs tracking-wider text-green-500">
                                    Aujourd'hui
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="py-1">
                        <a href="#" class="flex justify-between items-center px-4 py-2 h-12 bg-gray-100 rounded-lg bg-opacity-0 hover:bg-opacity-100 transition">
                            <div class="flex items-center">
                                <span class="w-12 text-sm tracking-wider text-green-500">
                                    Ep99
                                </span>
                                <h6 class="text-gray-700">Podcast ep title here, i'm not inspired</h6>    
                            </div>

                            <div class="flex gap-2 items-center">
                                <span class="block text-sm tracking-wider text-gray-700 rounded-full px-2 py-0.5 bg-gray-200">
                                    12:54
                                </span>
                                <span class="pl-2 border-l border-gray-300 text-xs tracking-wider text-green-500">
                                    Aujourd'hui
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="py-1">
                        <a href="#" class="flex justify-between items-center px-4 py-2 h-12 bg-gray-100 rounded-lg bg-opacity-0 hover:bg-opacity-100 transition">
                            <div class="flex items-center">
                                <span class="w-12 text-sm tracking-wider text-green-500">
                                    Ep99
                                </span>
                                <h6 class="text-gray-700">Podcast ep title here, i'm not inspired</h6>    
                            </div>

                            <div class="flex gap-2 items-center">
                                <span class="block text-sm tracking-wider text-gray-700 rounded-full px-2 py-0.5 bg-gray-200">
                                    12:54
                                </span>
                                <span class="pl-2 border-l border-gray-300 text-xs tracking-wider text-green-500">
                                    Aujourd'hui
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--- / Podcast series ---> 

            <div class="lg:w-7/12 m-auto py-6 space-y-12">
                <div>
                    <h3 class="text-xl text-gray-700">Podcast les plus suivis</h3>
                    <div class="grid grid-cols-3 space-x-4 mt-4">
                        <div class="relative group cursor-pointer">
                            <div class="h-48 rounded-lg relative z-20">
                                <div class="absolute z-10 rounded-lg w-full h-full flex items-end bg-blue-900 bg-opacity-20">
                                    <div class="w-full p-4 rounded-b-lg text-white bg-gradient-to-t from-purple-500">
                                        <h6 class="text-lg font-medium leading-5">Pourquoi nous avons changé notre identité visuel</h6>
                                        <div class="flex justify-between opacity-0 group-hover:opacity-100 group-hover:mt-2 group-hover:mb-0 -mb-4 -mt-4 group:transition duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-purple-500 focus:bg-white focus:text-purple-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                            <button class="h-[32px] w-[32px] rounded-full bg-opacity-0 hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                <svg class="w-5 m-auto text-white fill-current" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.2931 4.17519V0L16.1255 4.54081L20 8.18156L16.0567 11.2695L11.2931 15V10.9145C2.93003 10.3222 5.27032e-07 14.8698 5.27032e-07 14.8698C5.27032e-07 12.0365 0.248446 9.09608 2.61896 6.86957C5.37447 4.27937 9.36502 4.09608 11.2931 4.17519Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <img src="../public/images/user 2.jpg" class="relative h-full object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute -bottom-0 -rotate-3 group-hover:!rotate-0 group-hover:!-bottom-4 group:transition delay-150 duration-300 h-full w-full bg-gradient-to-br from-pink-400 to-purple-500 rounded-lg scale-90"></div>
                        </div>
                        <div class="relative group cursor-pointer">
                            <div class="h-48 rounded-lg relative z-20">
                                <div class="absolute z-10 rounded-lg w-full h-full flex items-end bg-blue-900 bg-opacity-20">
                                    <div class="w-full p-4 rounded-b-lg text-white bg-gradient-to-t from-gray-500">
                                        <h6 class="text-lg font-medium">Notre nouvelle identité</h6>
                                        <div class="flex justify-between opacity-0 group-hover:opacity-100 group-hover:mt-2 group-hover:mb-0 -mb-4 -mt-4 group:transition duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-gray-500 focus:bg-white focus:text-gray-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                            <button class="h-[32px] w-[32px] rounded-full bg-opacity-0 hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                <svg class="w-5 m-auto text-white fill-current" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.2931 4.17519V0L16.1255 4.54081L20 8.18156L16.0567 11.2695L11.2931 15V10.9145C2.93003 10.3222 5.27032e-07 14.8698 5.27032e-07 14.8698C5.27032e-07 12.0365 0.248446 9.09608 2.61896 6.86957C5.37447 4.27937 9.36502 4.09608 11.2931 4.17519Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <img src="../public/images/oluwakemi-solaja-ZN52ZBFkw4Y-unsplash.jpg" class="relativew w-full h-full object-bottom object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute -bottom-0 -rotate-3 group-hover:!rotate-0 group-hover:!-bottom-4 group:transition delay-150 duration-300 h-full w-full bg-gradient-to-br from-pink-400 to-purple-500 rounded-lg scale-90"></div>
                        </div>
                        <div class="relative group cursor-pointer">
                            <div class="h-48 rounded-lg relative z-20">
                                <div class="absolute z-10 rounded-lg w-full h-full flex items-end bg-blue-900 bg-opacity-20">
                                    <div class="w-full p-4 rounded-b-lg text-white bg-gradient-to-t from-blue-500">
                                        <h6 class="text-lg font-medium">Notre nouvelle identité</h6>
                                        <div class="flex justify-between opacity-0 group-hover:opacity-100 group-hover:mt-2 group-hover:mb-0 -mb-4 -mt-4 group:transition duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                            <button class="h-[32px] w-[32px] rounded-full bg-opacity-0 hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                <svg class="w-5 m-auto text-white fill-current" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.2931 4.17519V0L16.1255 4.54081L20 8.18156L16.0567 11.2695L11.2931 15V10.9145C2.93003 10.3222 5.27032e-07 14.8698 5.27032e-07 14.8698C5.27032e-07 12.0365 0.248446 9.09608 2.61896 6.86957C5.37447 4.27937 9.36502 4.09608 11.2931 4.17519Z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <img src="../public/images/womanInOffice.jpg" class="relative h-full object-cover rounded-lg" alt="">
                            </div>
                            <div class="absolute -bottom-0 -rotate-3 group-hover:!rotate-0 group-hover:!-bottom-4 group:transition delay-150 duration-300 h-full w-full bg-gradient-to-br from-pink-400 to-purple-500 rounded-lg scale-90"></div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <h3 class="text-xl text-gray-700">Nos categories</h3>
                    <div class="scroll lg:grid grid-cols-4 flex gap-4 mt-4 pb-1">
                        <div role="button" class="px-8 py-4 space-y-2 bg-gray-100 bg-opacity-75 border border-transparent rounded-lg text-center cursor-pointer hover:bg-opacity-0 hover:shadow-md hover:border-gray-100 transition duration-300">
                            <img src="../public/images/icons/creativity.svg" class="w-12 m-auto" alt="icône créativité">
                            <h5 class="text-lg text-gray-600">Entreprise</h5>
                        </div>
                        <div role="button" class="px-8 py-4 space-y-2 bg-gray-100 bg-opacity-75 border border-transparent rounded-lg text-center cursor-pointer hover:bg-opacity-0 hover:shadow-md hover:border-gray-100 transition duration-300">
                            <img src="../public/images/icons/ux.svg" class="w-12 m-auto" alt="icône créativité">
                            <h5 class="text-lg text-gray-600">UX Design</h5>
                        </div>
                        <div role="button" class="px-8 py-4 space-y-2 bg-gray-100 bg-opacity-75 border border-transparent rounded-lg text-center cursor-pointer hover:bg-opacity-0 hover:shadow-md hover:border-gray-100 transition duration-300">
                            <img src="../public/images/icons/frontend.svg" class="w-12 m-auto" alt="icône créativité">
                            <h5 class="text-lg text-gray-600">Frontend</h5>
                        </div>
                        <div role="button" class="px-8 py-4 space-y-2 bg-gray-100 bg-opacity-75 border border-transparent rounded-lg text-center cursor-pointer hover:bg-opacity-0 hover:shadow-md hover:border-gray-100 transition duration-300">
                            <img src="../public/images/icons/web-backend.svg" class="w-12 m-auto" alt="icône créativité">
                            <h5 class="text-lg text-gray-600">Backend</h5>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 class="text-xl text-gray-700">Tous les podcasts</h3>
                    <div class="scroll grid lg:grid-cols-5 sm:grid-cols-4 grid-cols-2 gap-x-4 gap-y-6 mt-4 pb-1">
                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/devs.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/projects/5.jpeg" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/projects/3.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/library.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/devs.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/projects/5.jpeg" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/projects/3.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/library.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>

                        <div class="group">
                            <div class="relative mb-3">
                                <img src="../public/images/blog/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png" class="h-32 w-full rounded-lg object-cover group-hover:shadow-xl group:transition" alt="">
                                <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full opacity-0 group-hover:w-full group-hover:opacity-80 bg-gradient-to-br from-indigo-600 to-green-500 rounded-lg group:transition duration-500">
                                    <div class="-mb-1 h-full w-full flex flex-col gap-2 items-center text-white justify-center">
                                        <div class="opacity-0 -translate-y-5 group-hover:translate-y-0 group-hover:opacity-100 group:transition delay-75 duration-500">
                                            <button class="flex items-center gap-1 pr-2 pl-1 py-1 border rounded-full text-sm hover:border-transparent hover:shadow-xl hover:bg-white hover:text-blue-500 focus:bg-white focus:text-blue-500 active:bg-indigo-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                                </svg>
                                                <span>12 min</span>
                                            </button>
                                        </div>
                                        <div class="opacity-0 -translate-x-5 group-hover:translate-x-0 group-hover:opacity-100 group:transition delay-150 duration-500">
                                            <button class="rounded-full px-2 py-0.5 bg-opacity-0 text-sm hover:bg-opacity-20 bg-gray-900 focus:bg-opacity-30 active:bg-opacity-40">
                                                Partager
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="block leading-5 text-gray-600">Podcast title can take two lines</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="h-16 w w-0 m-auto border-l-2 border-dashed mb-6"></div>
                    <nav aria-label="..." class="w-max m-auto">
                        <ul class="flex items-center divider-x">
                            <li>
                                <span class="px-4 py-2 block text-lg">&ltcc;</span>
                            </li>
                            <li class="page-item">
                                <a class="px-4 py-2 text-green-500 block hover:bg-gray-50 rounded-full disabled:text-gray-500 disabled:hover:bg-white focus:bg-gray-50 active:bg-gray-100 transition" href="#">1</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="px-4 py-2 block bg-green-500 text-green-900 rounded-full">2</span>
                            </li>
                            <li class="page-item">
                                <a class="px-4 py-2 text-green-500 block hover:bg-gray-50 rounded-full disabled:text-gray-500 disabled:hover:bg-white focus:bg-gray-50 active:bg-gray-100 transition" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="px-4 py-2  text-lg text-green-500 block hover:bg-gray-50 rounded-full disabled:text-gray-500 disabled:hover:bg-white focus:bg-gray-50 active:bg-gray-100 transition" href="#">&gtcc;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <div class="fixed z-40 bottom-0 left-0 right-0 lg:max-w-screen-xl max-w-screen-lg m-auto lg:px-0 md:px-16 px-4">
        <div class="relative z-10 bg-white flex items-center justify-between px-8 py-2 rounded-lg shadow-player -mx-3">
            <div class="w-3/12 flex items-center gap-4 -ml-4">
                <img src="../public/images/alex-starnes.png" class="w-12 h-12 rounded-lg object-cover" alt="">
                <div>
                    <h6 class="block text-base text-gray-700">Podcast title</h6>
                    <span class="block text-xs tracking-wide text-gray-500">23 Minutes restantes</span>
                </div>
            </div>
            <img src="../public/images/player.png" alt="">
            <div class=" -mr-4">
                <button class="block border rounded-lg text-left">
                    <div class="flex items-center gap-3 p-2">
                        <img src="../public/images/le-wagon-z8GZ5bh2dPs-unsplash.jpg" class="w-10 h-8 rounded-lg object-cover" alt="">
                        <div>
                            <h6 class="block text-base text-gray-700">Suivant</h6>
                            <span class="block text-xs tracking-wide text-gray-500">23 Min</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <div class="relative z-0 h-12 -mt-8 bg-white bg-opacity-75 backdrop-blur-xl"></div>
    </div>
</body>
</html>