<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white bg-opacity-75
                    w-full lg:h-auto h-16 lg:px-24 md:px-16 px-6 lg:py-0 py-3 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-500" id="navbar" 

             style="z-index:1000; -webkit-backdrop-filter:blur(12px); 
                    backdrop-filter: blur(12px);">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden -mt-1">
                
                <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                    

                    <div style="width:25px;" class="flex flex-wrap justify-end">

                        <style>
                            .rotate-1{

                                transform: rotate(134deg);
                                margin-top:24px !important;

                            }

                            .rotate-2{

                                transform: rotate(-134deg);
                                margin-top:-1px !important;

                            }
                        </style>

                        <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                        <div class="line-2 transition-all duration-500" style="height:2px; width:20px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        <div class="line-3 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                    </div>

                </button>

            </div>

            <div class="w-full lg:hidden hidden justify-center z-50" id="navuser">
                
                <div class="flex gap-6">

                    <a href="login.html" class="bg-white border border-indigo-400 py-3 px-6 
                                                rounded-md text-indigo-500 font-semibold">
                        Se connecter
                    </a>
                    
                    <a href="register.html" class="bg-indigo-500 py-3 px-6 rounded-md text-white 
                                                    hover:bg-indigo-600  font-semibold">
                        S'inscrire
                    </a>
                
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-8 
                        gap-24 lg:bg-transparent bg-white lg:shadow-none 
                        shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden 
                        z-50 transition-all duration-900" id="navlinks">

                <a href="work.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500
                                                border-b-2 border-green-700">
                    Portfolio
                </a>

                <a href="contents.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nos contenus
                </a>
                
                <a href="us.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nous
                </a>

                <a href="blog.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-600 hover:text-green-500">
                    Blog
                </a>
                
                <a href="contact.html" class="w-max bg-green-500 text-sm text-white 
                                              hover:bg-green-600
                                                lg:inline block lg:my-0 md:mt-8 mt-6 
                                                lg:py-3 py-3 px-6 rounded-md">

                    Prendre contact
                </a>
                
                <div class="w-8 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden transition-all duration-700" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section class="pt-56">
        <div class="lg:px-24 md:px-16 px-6">
            <div class="lg:w-10/12 m-auto">


                <div class="text-center lg:w-9/12 m-auto">
                    <p class="text-gray-500 font-thin text-sm" style="letter-spacing:5px;">ETUDE DE CAS</p>
                    <h1 class="lg:text-5xl text-4xl mt-4 text-gray-700 lg:leading-snug leading-snug">Design System et F ramework Css <span class="text-indigo-500">Humanitary UI</span></h1>
                </div>


                <div class="mt-20 rounded-3xl">
                    <img class="rounded-3xl" src="../public/images/projects/daniel-korpai-Y3LGWCsrgmg-unsplash.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <section class="mt-28">
        <div class="lg:px-32 md:px-16 px-6">
            <div class="lg:w-8/12 md:w-10/12 m-auto">
                <p class="md:text-xl text-gray-600 lg:leading-snug">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, modi. Id nulla neque a ipsa! Debitis aut magnam accusantium, minus labore magni aliquid ducimus id pariatur, ea laboriosam deleniti blanditiis.</p>
                <p class="md:text-xl text-gray-600 mt-6 lg:leading-snug">Consectetur adipisicing elit. Voluptas, modi. Id nulla neque a ipsa! Debitis aut magnam accusantium, minus labore magni aliquid ducimus id pariatur, ea laboriosam deleniti blanditiis.</p>
            
            </div>


            <div class="lg:flex items-center gap-16 mt-32">
                <div class="lg:w-6/12">

                    <div class="px-3 py-1 w-max rounded-full text-yellow-500 bg-yellow-50
                                flex justify-center items-center">
                        1. Client
                    </div>

                    <h1 class="text-gray-700 text-4xl mt-8">Bésoin & Problématique</h1>
                    <div class="mt-8 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, animi quod aliquid ratione unde quae ab dolorem accusantium aperiam consequatur! Id dolore amet officia voluptatem temporibus? Rem dolore accusantium exercitationem.</div>

                    <h2 class="text-2xl text-gray-700 mt-8">Bésoins</h2>
                    <ul class="mt-4 list-disc list-inside text-gray-600">
                        <li class="my-2">Création site web</li>
                        <li class="my-2">Création app mobile</li>
                        <li class="my-2">PWA</li>
                    </ul>
                
                </div>

                <div class="lg:w-6/12">
                    <img src="../public/images/projects/using.jpg" class="rounded-3xl" alt="">
                </div>
            </div>

            
            
        </div>
    </section>
 
    <section class="mb-40 relative z-50">

        <div class="-ml-1 -mb-16 lg:mt-20">

            <svg xmlns="http://www.w3.org/2000/svg" class="w-full" height="181.155" viewBox="0 0 1367.743 181.155">
                <path class="stroke-current text-green-300" id="Tracé_2" data-name="Tracé 2" d="M1.156-14.547S67.627-64.11,392.727-64.11c153.122,0,358.295,59.211,541.725,75.43C1141.112,29.594,1289.9-67.574,1289.9-67.574" transform="translate(0.243 87.655)" fill="none" stroke-linecap="round" stroke-width="2"/>
                <path class="fill-current text-gray-800" id="Tracé_1" data-name="Tracé 1" d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z" transform="translate(1.743 66.155)"/>
                <path id="Icon_awesome-rocket" data-name="Icon awesome-rocket" d="M20.331.769A.64.64,0,0,0,19.84.278,14.608,14.608,0,0,0,16.52,0c-4.154,0-6.646,2.222-8.5,5.152H3.82A1.932,1.932,0,0,0,2.095,6.219L.106,10.2a.966.966,0,0,0,.865,1.4H5.148l-.9.9a1.288,1.288,0,0,0,0,1.821l2.049,2.049a1.288,1.288,0,0,0,1.822,0l.9-.9v4.18a.966.966,0,0,0,1.4.865l3.973-1.988a1.928,1.928,0,0,0,1.067-1.727v-4.2c2.922-1.864,5.152-4.363,5.152-8.5A14.279,14.279,0,0,0,20.331.769ZM15.459,6.762a1.61,1.61,0,1,1,1.61-1.61,1.61,1.61,0,0,1-1.61,1.61Z" transform="translate(1289.923)" fill="#80c8ff"/>
            </svg>
              
        </div>

        <div class="bg-gray-800  lg:px-32 md:px-16 px-6">
            <div class="lg:pb-40 lg:pt-0 md:py-16 py-8 pb-16">

                <div class="lg:w-7/12 m-auto text-center mb-16">
                    
                    <div class="px-3 py-1 w-max m-auto rounded-full text-green-500 
                                bg-green-500 bg-opacity-10

                                flex justify-center items-center">
                        2. Nous
                    </div>
    
                    <h1 class="text-white md:text-4xl text-2xl my-8">Notre accompagnement & solution personnalisée</h1>
                    
                    
                </div>
    
                <div class="md:flex lg:gap-16 gap-8">
                    
                    <div class="lg:w-6/12 md:w-6/12 relative">

                        <div class="lg:absolute z-50">
                            <img src="../public/images/projects/app.png" alt="">
                        </div>

                        
                    </div>
                    
                    <div class="lg:w-6/12 md:w-7/12">
    
                        <p class="text-gray-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga exercitationem illum officiis minima itaque quidem, atque, unde sapiente nulla autem, a nesciunt dolores cupiditate rerum totam minus! Ipsam, voluptates cumque.</p>
                        
                        <p class="text-gray-300 mt-4"> Fuga exercitationem illum officiis minima itaque quidem, atque, unde sapiente nulla autem, a nesciunt dolores cupiditate rerum totam minus! Ipsam, voluptates cumque.</p>
    

                        <div class="flex flex-wrap items-center gap-3 mt-8">
    
                            <div class="w-max rounded-full py-3 px-6 bg-yellow-500 
                                        bg-opacity-10 hover:bg-opacity-20">

                                <h3 class="text-yellow-500">PWA</h3>
                                
                            </div>

                            <div class="w-max rounded-full py-3 px-6 bg-green-500 
                                        bg-opacity-10 hover:bg-opacity-20">

                                <h3 class="text-green-500">SEO</h3>

                            </div>
    
                            <div class="w-max rounded-full  py-3 px-6 bg-purple-500 
                                        bg-opacity-10 hover:bg-opacity-20">

                                <h3 class="text-purple-500">UX / UI Design</h3>

                            </div>
    
                            <div class="w-max rounded-full py-3 px-6  bg-pink-500 
                                        bg-opacity-10 hover:bg-opacity-20">

                                <h3 class="text-pink-500">App Mobile</h3>

                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="-mt-24 absolute w-full" style="z-index:20;">

            <svg xmlns="http://www.w3.org/2000/svg" class="w-full" height="181.155" viewBox="0 0 1367.743 181.155">
                <path class="fill-current text-white" id="Tracé_1" data-name="Tracé 1" d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z" transform="translate(1.743 66.155)"/>
            </svg>
              
        </div>

    </section>

    <footer>
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>