<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed lg:bg-white bg-white 
                    w-full lg:h-auto h-auto lg:px-24 md:px-16 px-6 py-4 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-700 ease-in-out" id="navbar">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden mt-2">
                <button type="button" id="navbar-open" class="hamburger-open flex lg:hidden transition-all">
                    <svg class="fill-current text-gray-600 w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
                <button type="button" id="navbar-close" class="hidden hamburger-close flex hidden">
                    <svg class="fill-current text-gray-600 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
                </button>
            </div>

            <div class="w-full lg:hidden hidden justify-center z-50 -mt-10 transition-all duration-700" id="navuser">
                <div class="flex gap-6">
                    <a href="" class="bg-indigo-50 py-3 px-6 rounded-md text-indigo-500 font-semibold">Se connecter</a>
                    <a href="" class="bg-indigo-500 py-3 px-6 rounded-md text-white font-semibold">S'inscrire</a>
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-7 gap-24 bg-white lg:shadow-none shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden -mt-40 z-50 transition-all duration-700" id="navlinks">
                <a href="work.html" class="lg:inline block lg:my-0 md:mb-8 mb-6 text-gray-700  hover:text-green-500">Portfolio</a>
                <a href="contents.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Nos contenus</a>
                <a href="us.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-green-500 hover:text-green-500">Nous</a>
                <a href="blog.html" class="lg:inline block lg:my-0 md:my-8 my-6 text-gray-700 hover:text-green-500">Blog</a>
                <a href="contact.html" class="text-md w-max lg:inline block lg:my-0 md:mt-8 mt-6 lg:py-2 py-3 px-6 rounded-md border-gray-500 border-2 text-gray-800">Prendre contact</a>
                
                <div class="w-10 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden -mt-72 transition-all duration-700 ease-in-out" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section class="lg:px-24 md:px-16 px-6 " id="hero">
        <div class="lg:pt-48 md:pt-64 pt-48 lg:flex justify-between">

            <div class="lg:w-7/12">
                <h1 class="text-gray-900 font-semibold md:text-5xl text-3xl  md:leading-snug leading-normal">
                    Nous vous aidons à développer une <span style="color:#506FE2;" class="text-green-500 font-bold">solution</span>   qui vous démarque de toute <span style="color:#506FE2;" class="text-green-500 font-bold">concurrence</span>.
                </h1>
    
                <div class="mt-16">
                    <a href="" class="text-center">
                        <div class="md:w-max">
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                    <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(23.989 26.767) rotate(180)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                </svg>  
                            </div>
                            
                            <div class="my-3 font-bold uppercase text-gray-700">Lire nos études des cas</div>
                            
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                    <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(1.504 -9.24)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                </svg>
                                  
                            </div>
                              
                        </div>
                    </a>
                </div>
            </div>
    
            <div class="w-5/12 lg:flex justify-end -mt-16 hidden">
                <div class="mr-1 -mt-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="172.5" height="440" viewBox="0 0 172.5 440">
                        <g id="decor" transform="translate(-950.25 -61.5)" opacity="0.3">
                        
                            
                          <line id="Ligne_4" data-name="Ligne 4" y2="362" transform="translate(1036.5 61.5)" fill="none" stroke="#000" stroke-width="0.5" stroke-dasharray="47"/>
                          <line id="Ligne_5" data-name="Ligne 5" y2="269" transform="translate(950.5 137.5)" fill="none" stroke="#000" stroke-width="0.5" stroke-dasharray="47"/>
                        </g>
                    </svg>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="172.5" height="440" viewBox="0 0 172.5 440">
                    <g id="decor" transform="translate(-950.25 -61.5)" opacity="0.4">
                      <line id="Ligne_3" data-name="Ligne 3" y2="364" transform="translate(1122.5 137.5)" fill="none" stroke="#000" stroke-width="0.5" stroke-dasharray="23"/>
                      <line id="Ligne_4" data-name="Ligne 4" y2="362" transform="translate(1036.5 61.5)" fill="none" stroke="#000" stroke-width="0.5" stroke-dasharray="47"/>
                      <line id="Ligne_5" data-name="Ligne 5" y2="269" transform="translate(950.5 137.5)" fill="none" stroke="#000" stroke-width="0.5" stroke-dasharray="47"/>
                    </g>
                </svg>
            </div>
        </div>
    
        <div class="md:flex justify-end lg:-mt-40 -mt-10 md:-mr-16 hidden">
            <img src="../public/images/illustration.svg" alt="illustration fusée">
        </div>
    </section>

    <footer>
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>