<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="language" content="fr">
    <meta name="author" content="méschac-irung, meschacirung@gmail.com">

    <title>Devscast - Digital builders</title>

    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body class="overflow-x-hidden" style="font-family:'Rubik', sans-serif;">

    <header>
        <nav class="fixed bg-white bg-opacity-75 border-b border-gray-100
                    w-full lg:h-auto h-16 lg:px-24 md:px-16 px-6 lg:py-0 py-3 
                    flex flex-wrap lg:items-center items-start justify-between 
                    transition-all duration-500" id="navbar" 

             style="z-index:1000; -webkit-backdrop-filter:blur(12px); 
                    backdrop-filter: blur(12px);">

            <div class="flex-shrink-0">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>
            
            <div class="block lg:hidden -mt-1">
                
                <button id="hamburger" class="lg:hidden transition-all focus:outline-none">
                    

                    <div style="width:25px;" class="flex flex-wrap justify-end">

                        <style>
                            .rotate-1{

                                transform: rotate(134deg);
                                margin-top:24px !important;

                            }

                            .rotate-2{

                                transform: rotate(-134deg);
                                margin-top:-1px !important;

                            }
                        </style>

                        <div class="line-1 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363"></div>
                        <div class="line-2 transition-all duration-500" style="height:2px; width:20px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                        <div class="line-3 transition-all duration-500" style="height:2px; width:30px; border-radius:100px; background:#636363; margin-top:7px;"></div>
                    </div>

                </button>

            </div>

            <div class="w-full lg:hidden hidden justify-center z-50" id="navuser">
                
                <div class="flex gap-6">

                    <a href="login.html" class="bg-white border border-indigo-400 py-3 px-6 
                                                rounded-md text-indigo-500 font-semibold">
                        Se connecter
                    </a>
                    
                    <a href="register.html" class="bg-indigo-500 py-3 px-6 rounded-md text-white 
                                                    hover:bg-indigo-600  font-semibold">
                        S'inscrire
                    </a>
                
                </div>
                
                <img src="../public/images/user.png" class="hidden rounded-full w-20 h-20 border-8 border-gray-50" alt="user avatar">
            </div>

            <div class="lg:text-lg text-xl lg:w-auto w-full lg:flex items-center lg:gap-8 
                        gap-24 lg:bg-transparent bg-white lg:shadow-none 
                        shadow-md lg:p-0 md:p-16 p-10 rounded-3xl  lg:mt-0 hidden 
                        z-50 transition-all duration-900" id="navlinks">

                <a href="work.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Portfolio
                </a>

                <a href="contents.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nos contenus
                </a>
                
                <a href="us.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-500 hover:text-green-500">
                    Nous
                </a>

                <a href="blog.html" class="lg:inline block lg:my-0 md:py-4 py-3 
                                                text-gray-600 hover:text-green-500 
                                                border-b-2 border-green-700">
                    Blog
                </a>
                
                <a href="contact.html" class="w-max bg-green-500 text-sm text-white 
                                              hover:bg-green-600
                                                lg:inline block lg:my-0 md:mt-8 mt-6 
                                                lg:py-3 py-3 px-6 rounded-md">

                    Prendre contact
                </a>
                
                <div class="w-8 lg:block hidden">
                    <img src="../public/images/user.png" class="rounded-full" alt="user avatar">
                </div>
            </div>

            <div class="lg:hidden hidden transition-all duration-700" id="navfooter">
                <p class="text-center text-sm">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500 text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500 text-blue-500"> Licence</a>  </p>
            </div>
        </nav>
    </header>

    <section class="lg:px-24 md:px-16 px-6" id="hero">
        <div class="lg:pt-48 md:pt-64 pt-48 lg:flex justify-between">

            <div class="lg:w-8/12 m-auto text-center">
                <h1 class="text-gray-900 md:text-5xl text-3xl  md:leading-snug leading-normal">
                    Chaque <span style="color:#506FE2;" class="text-green-500 font-bold">produit</span>   que nous développons aide nos clients à atteindre leurs <span style="color:#506FE2;" class="text-green-500 font-bold">objectifs commerciaux</span>.
                </h1>
    
                <div class="mt-16">
                    <a href="" class="text-center">
                        <div class="m-auto">
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                    <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(23.989 26.767) rotate(180)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                </svg>  
                            </div>
                            
                            <div class="my-3 font-bold uppercase text-gray-700">Lire nos études des cas</div>
                            
                            <div class="flex justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                    <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(1.504 -9.24)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                </svg>
                                  
                            </div>
                              
                        </div>
                    </a>
                </div>
            </div>
    
        </div>
    </section>

    <section class="lg:px-24 md:px-16 px-6 my-64" id="projects">
        <div class="fixed grid items-center -ml-2 left-32 top-20 right-0 bottom-0 w-1/12 l-0 border-l border-gray-200">
        </div>


        <div class="grid grid-cols-2 gap-20 my-20">
            <div class="flex items-center gap-10">
                <div class="w-2/12 z-50 flex items-center">
                    
                    <div class="ml-2 h-8 w-8 border-8 border-white bg-indigo-300 rounded-full">
                
                    </div>
                    
                </div>

                <div class="text-center">

                    <h2 class="text-4xl text-gray-900 leading-snug">Bibliothèque numérique congo mémoire.</h2>
                    <p class="mt-8 text-gray-600">Incidunt nulla voluptate ipsam deleniti. Veritatis exercitationem dignissimos, quo tenetur voluptate fugiat natus eaque expedita atque voluptatibus?</p>
                
                    <div class="mt-16">
                        <a href="" class="text-center">
                            <div class="m-auto">
                                <div class="flex justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                        <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(23.989 26.767) rotate(180)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                    </svg>  
                                </div>
                                
                                <div class="py-3 font-bold uppercase text-gray-700">Etude de cas</div>
                                
                                <div class="flex justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25.493" height="17.527" viewBox="0 0 25.493 17.527">
                                        <path id="Icon_awesome-angle-down" data-name="Icon awesome-angle-down" d="M10.055,24.771.492,15.209a1.681,1.681,0,0,1,0-2.384l1.589-1.589a1.681,1.681,0,0,1,2.384,0l6.778,6.778,6.778-6.778a1.681,1.681,0,0,1,2.384,0l1.589,1.589a1.681,1.681,0,0,1,0,2.384l-9.562,9.562a1.672,1.672,0,0,1-2.377,0Z" transform="translate(1.504 -9.24)" fill="#8d8d8d" stroke="#fff" stroke-width="3"/>
                                    </svg>
                                      
                                </div>
                                  
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex items-end gap-4">
                <div class="w-10/12">
                    <img src="../public/images/projects/5.jpeg" class="rounded-xl" alt="">
                </div>
                
                <div class="w-2/12 mb-10">
                    <img src="../public/images/projects/2.png" alt="">
                </div>
                
            </div>
        </div>

        
    </section>

    <footer class="hidden">
        <div class="bg-gray-50 lg:px-24 px-6 py-16">
            <div class="flex justify-center mb-8">
                <a href="index.html" class="flex items-center  mt-0">
                    <img src="../public/images/icon.png" class="w-12" alt="">
                    <span class="text-2xl text-gray-800">Devscast</span>
                </a>
            </div>

            <p class="text-center">@2019 – 2021 Devscast. Tous droits réservés. <a href="" class="hover:text-blue-500">Politique de confidentialité </a> | <a href="" class="hover:text-blue-500"> Licence</a>  </p>
        </div>
    </footer>

    <script src="../public/js/script.js"></script>

</body>
</html>