@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 100;
}

body{
    font-family: 'CircularStd', sans-serif;
    z-index:5000;
}

header::before{
    content:'';
    height:1px;
    @apply w-full absolute bottom-0 border-b border-dashed border-gray-200;
}

footer::before{
    content:'';
    height:1px;
    @apply w-full absolute md:bottom-20 bottom-40 border-b border-dashed border-gray-200;
}

html::before{
    content:'';
    z-index:1;
    @apply lg:max-w-screen-xl max-w-screen-lg m-auto ;
    @apply fixed 2xl:left-44 lg:left-20 md:left-16 left-4 2xl:right-44;
    @apply lg:right-20 md:right-16 right-4 h-screen border-r border-l border-gray-200;
}

.indicate{
    margin-left: -18.1px;
    letter-spacing:2px;
    font-weight: 100 !important;
    @apply border-l-2 border-green-500 pl-4;
}

.indicate-r{
    margin-right: -18.1px;
    letter-spacing:2px;
    font-weight: 100 !important;
    @apply border-r-2 border-green-500 pr-4;
}

.active::after{
    content:'';

    @apply absolute left-0 bottom-0 w-full bg-green-500;

    height:2px;
}

.scroll{
    width:200vw;
    @apply lg:w-full;
}

@media (min-width: 768px) and (max-width:1024px) {
    .scroll{
        width:120vw
    }
}

.bg-dark{
    background: rgb(36, 48, 51);
}

.scrollbar-tranparent::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent
}

.scrollbar-tranparent::-webkit-scrollbar {
    @apply w-0 bg-transparent
}

.scrollbar-tranparent::-webkit-scrollbar-thumb {
    @apply bg-transparent
}

.scroller{
    overflow-y: scroll;
    scrollbar-color: #ffffff00 #ffffff00;
    scrollbar-width:thin;
}

.pseudo-container{
    max-height: 1024px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .pseudo-container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  @media (min-width: 1024px) {
    .pseudo-container {
      margin: auto;
      max-height: 1280px;
    }
  }

.hamburger{
    transform: rotate(-45deg);
    width:25px;
}
.dropdown .dropdown-content{
    visibility: hidden;
    display:none;
}
.dropdown:hover .dropdown-content{
    visibility:visible !important;
    display:block !important;
}

.dropdown .dropper{
    transform:rotate(0deg);
}

.dropdown:hover .dropper{
    transform:rotate(180deg) !important;
}

.project .project-desc{
    margin-bottom:-28px;
}

.project:hover .project-desc{
    margin-bottom:24px !important;
    padding-bottom:12px;
}

.project:hover .project-img{
    border-radius:30px !important;
}

.start::before{
    content:"-";
    @apply absolute font-mono opacity-0 -right-0.5 text-purple-300 text-xl transition-all duration-300;
    bottom:-12.50px;
}

.start::after{
    content:"";
    @apply absolute w-16 bottom-0 left-0 h-0.5 bg-gradient-to-r rounded-full from-green-400 to-indigo-500 transition-all duration-300;
}

.start-link:hover .start::after{
    @apply bg-gradient-to-r w-full from-green-500 to-purple-300;
}

.start-link:hover .start::before{
    content:">";
    @apply opacity-100;
}

.ux-step::before{
    content:"--------->";
    @apply absolute w-2/12 font-mono right-0 text-gray-400 transition-all duration-300;
}

.second-line::before{
    content:"";
    @apply absolute w-9/12 h-48 top-0 border-l-2 border-t-2 border-dashed right-16 rounded-tl-3xl transition-all duration-300;
}

.second-line::after{
    content:"";
    @apply absolute w-16 h-56 -top-56 border-r-2 border-t-2 rounded-r-3xl border-dashed right-8 transition-all duration-300;
}