@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 100;
}

body{
    font-family: 'CircularStd', sans-serif;
    z-index:5000;
}

header::before{
    content:'';
    height:1px;
    @apply w-full absolute bottom-0 border-b border-dashed border-gray-200;
}

html::before{
    content:'';
    z-index:1;
    @apply lg:max-w-screen-xl max-w-screen-lg m-auto ;
    @apply fixed 2xl:left-44 lg:left-20 md:left-16 left-4 2xl:right-44;
    @apply lg:right-20 md:right-16 right-4 h-screen border-r border-l border-gray-200;
}

.indicate{
    margin-left: -18.1px;
    letter-spacing:2px;
    font-weight: 100 !important;
    @apply border-l-2 border-green-500 pl-4;
}

.active::after{
    content:'';

    @apply absolute left-0 bottom-0 w-full bg-green-500;

    height:2px;
}


.scroll{
    width:200vw;
    @apply lg:w-full;
}

@media (min-width: 768px) and (max-width:1024px) {
    .scroll{
        width:120vw
    }
}
