@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 100;
}

body{
    font-family: 'CircularStd', sans-serif;
}

@layer components{
    .shadow-player{
        box-shadow : 0 0 12px rgba(0, 0, 0, 0.2)
    }
}

.scrollbar-tranparent::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent
}

.scrollbar-tranparent::-webkit-scrollbar {
    @apply w-0 bg-transparent
}

.scrollbar-tranparent::-webkit-scrollbar-thumb {
    @apply bg-transparent
}